.breadcrumb {
  margin: 1rem;
  margin-bottom: 0;
  padding: 0.5rem;
  border-radius: 0.25rem;
  padding: auto;
  font-family: $title-font;

  @include truncate($grid_max_width + $grid_max_unit);
    background-color: var(--breadcrumb-background-color);

  ol {
    @include flexbox();
    @include align-items(center);
  }

  li {
    display: inline;
    font-size: 0.9rem;
    
    a {
        color: var(--breadcrumb-item-color);
        @include on-event {
          color: var(--link-hover);
        }
    }

    &:last-child {
      @include truncate($grid_max_width + $grid_max_unit);
        color: var(--breadcrumb-item-active-color);
    }
  }

  li+li:before {
    padding: 0.5rem;    
    content: "/\00a0";
      color: var(--breadcrumb-item-color);
  }
}
