.button {
  position: relative;
  display: inline-block;
  padding: 3px 9px;
  margin: 0.25rem;
  cursor: pointer;
  text-decoration: none !important;
  border-radius: 0.25rem;
  background-color: transparent;

  &__text {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
  }

  &__micro {
    height: 20px;
    font-size: 14px;
    line-height: 14px;
  }

  &__mini {
    height: 24px;
    font-size: 15px;
    line-height: 15px;
  }

  &__small {
    height: 28px;
    font-size: 16px;
  }

  &__medium {
    height: 32px;
    font-size: 17px;
    line-height: 17px;
  }

  &__large {
    height: 36px;
    font-size: 18px;
  }

    &[data-color="default"] {
      color: var(--link);
      border: 1px solid var(--link);

      @include on-event {
        color: var(--link-hover);
        border: 1px solid var(--link-hover);
      }
    }

    &[data-color="primary"] {
      color: var(--button-primary-color);
      border: 1px solid var(--button-primary-color);

      @include on-event {
        color: var(--link-hover);
        border: 1px solid var(--link-hover);
      }
    }

    &[data-variant="contained"] {
      &[data-color="primary"], &[data-color="default"] {
        color: #111;
        background: var(--button-primary-color);
        @include box-shadow(1px, 1px, 3px, 0, var(--share-shadow-color));
        border: none;

        @include on-event {
          color: #111;
          background: unquote("hsl(from var(--button-primary-color) h s calc(l - 4))");
          border: none;
        }
      }
    }
}
