.donation {
  margin: 2.5rem 0;
  position: relative;

  &__icons {
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    @include flex-wrap(wrap);

    a {
      text-decoration: none !important;
    }
  }

  &__message {
    padding: 0.5rem;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    font-family: $title-font;

    @include flexbox();
    @include justify-content(center);
  }

  &__item {
    font-family: $title-font;
    font-size: 0.8rem;
    cursor: pointer;
    border-radius: 0.25rem;
    margin: 0.25rem;
    text-transform: capitalize;

    @include flexbox();
    @include align-items(center);

    &[data-type="donation"] {
      svg {
          color: var(--share-color);
          background-color: var(--donation-background-color);
          @include box-shadow(1px, 1px, 3px, 0, var(--share-shadow-color));
      }
    }

    &[data-type="share"] {
      svg {
          color: var(--share-color);
          background-color: var(--share-background-color);
          @include box-shadow(1px, 1px, 3px, 0, var(--share-shadow-color));
      }
    }

    svg {
      padding: 0.375rem;
      border-radius: 0.25rem;
      margin-right: 0.25rem;
      color: white;

      &[data-name="douban"] {
        --svg-color: #007722;
      }
      &[data-name="facebook"] {
        --svg-color: #1877F2;
      }
      &[data-name="twitter"] {
        --svg-color: #1DA1F2;
      }
      &[data-name="reddit"] {
        --svg-color: #FF4500;
      }
      &[data-name="tumblr"] {
        --svg-color: #36465D;
      }
      &[data-name="linkedin"] {
        --svg-color: #0077B5;
      }
      &[data-name="weibo"] {
        --svg-color: #E6162D;
      }
      &[data-name="line"] {
        --svg-color: #00C300;
      }
      &[data-name="telegram"] {
        --svg-color: #2CA5E0;
      }
      &[data-name="whatsapp"] {
        --svg-color: #25D366;
      }
      &[data-name="pocket"] {
        --svg-color: #EF3F56;
      }
      &[data-name="feedly"] {
        --svg-color: #2BB24C;
      }
      &[data-name="hatena"] {
        --svg-color: #00A4DE;
      }
      &[data-name="pinterest"] {
        --svg-color: #BD081C;
      }
      &[data-name="delicious"] {
        --svg-color: #3399FF;
      }
      &[data-name="google"] {
        --svg-color: #4285F4;
      }
      @include on-event {
        background-color: var(--svg-color);
      }

      @include transition(transform, 0.15s, ease-in);
      @include on-event {
        @include translateY(-0.25rem);
      }
    }
  }

  &__dropup {
    position: relative;
    height: 100%;

    @media only screen and (max-width: 769px) {
      position: static;
    }

    &--content {
      display: none;
      position: absolute;
      bottom: 100%;
      z-index: 1;
      min-width: 250px;
      max-width: 350px;
      height: auto;
      margin-bottom: 0.25rem;
      border-radius: 0.25rem;

      img {
        margin: auto;
      }

      @media only screen and (max-width: 769px) {
        left: 50%;
        transform: translate(-50%);
      }

        border: 1px solid var(--dropdown-item-hover-background-color);
        background-color: var(--dropdown-content-background-color);
    }
  }
}

.donation__dropup:hover .donation__dropup--content {
  display: block;
}
