.pagination {
  border-radius: 0.25rem;
  margin: 2rem 1rem;
  padding: 0.5rem 0;

  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
    background-color: var(--pagination-background-color);

  li {
    border-radius: 0.25rem;
    &.disabled {
      a {
        @include on-event {
            color: var(--pagination-number-color);
            text-decoration: none;
        }
      }
    }
    
    &.active {
      font-weight: bold;
      a {
          color: var(--link-hover);
      }
    }
  }

  a {
    font-size: 1.25rem;
    padding: 0.5rem 0.75rem;    
      color: var(--pagination-number-color);
      @include on-event {
        color: var(--link-hover);
      }
  }

  .active {
      background-color: var(--pagination-background-color);
  }
}

.pagination-single {
  @include flexbox();
  @include align-items(center);
  @include justify-content(flex-end);
  @include flex-wrap(wrap);
  width: 100%;
  margin: 1rem 0;

  &__left,
  &__right {
    @include truncate($grid_max_width + $grid_max_unit);
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    @include transition(all, 0.2s, ease-out);
    
    font-family: $title-font;
    padding: 0.25rem;
    border-radius: 0.125rem;
    &-title {
      font-size: 16.8px;
      @include truncate($grid_max_width + $grid_max_unit);
    }

    @include on-event {
      .pagination-single__icon {
          color: var(--gtt-hover-color);
          background-color: var(--gtt-hover-background-color);
      }
    }
  }

  &__left {
    @include on-event {
      @include translateX(-0.25rem);
    }    
  }

  &__right {
    @include on-event {
      @include translateX(0.25rem);
    }
  }

  &__icon {
    width: 28px;
    height: 28px;
    border-radius: 100%;
    margin: 0 0.5rem;

    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
      color: var(--gtt-color);
      background-color: var(--gtt-background-color);
  }
}
