#container {
  position: relative;
  
  @include flexbox();
  
}


#root {
  @each $theme, $map in $themes {
    &.theme__#{$theme} {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value
          )
        ) !global;
      }

      --footer-background-color: #{themed('footer-background-color')};
      --footer-color: #{themed('footer-color')};
      --link: #{themed('link')};
      --link-hover: #{themed('link-hover')};
      --title-color: #{themed('title-color')};
      --meta-color: #{themed('meta-color')};
      --body-color: #{themed('body-color')};
      --hr-color: #{themed('hr-color')};
      --body-background-color: #{themed('body-background-color')};
      --backdrop-background-color: #{themed('backdrop-background-color')};
      --dropdown-border-top-color: #{themed('dropdown-border-top-color')};
      --dropdown-item-active-background-color: #{themed('dropdown-item-active-background-color')};
      --dropdown-content-background-color: #{themed('dropdown-content-background-color')};
      --dropdown-item-hover-background-color: #{themed('dropdown-item-hover-background-color')};
      --dropdown-item-hover-color: #{themed('dropdown-item-hover-color')};
      --dropdown-item-color: #{themed('dropdown-item-color')};
      --navbar-border-bottom-color: #{themed('navbar-border-bottom-color')};
      --navbar-background-color: #{themed('navbar-background-color')};
      --navbar-mobile-background-color: #{themed('navbar-mobile-background-color')};
      --navbar-title-color: #{themed('navbar-title-color')};
      --navbar-title-hover-color: #{themed('navbar-title-hover-color')};
      --navbar-title-active-color: #{themed('navbar-title-active-color')};
      --navbar-menu-hover-background-color: #{themed('navbar-menu-hover-background-color')};
      --navbar-dropdown-item-hover-color: #{themed('navbar-dropdown-item-hover-color')};
      --sidebar-title-color: #{themed('sidebar-title-color')};
      --sidebar-li-color: #{themed('sidebar-li-color')};
      --taxo-title-color: #{themed('taxo-title-color')};
      --taxo-num-color: #{themed('taxo-num-color')};
      --taxo-num-background-color: #{themed('taxo-num-background-color')};
      --taxo-tags-background-color: #{themed('taxo-tags-background-color')};
      --taxo-tags-color: #{themed('taxo-tags-color')};
      --taxo-series-background-color: #{themed('taxo-series-background-color')};
      --taxo-series-color: #{themed('taxo-series-color')};
      --taxo-categories-background-color: #{themed('taxo-categories-background-color')};
      --taxo-categories-color: #{themed('taxo-categories-color')};
      --breadcrumb-item-color: #{themed('breadcrumb-item-color')};
      --breadcrumb-background-color: #{themed('breadcrumb-background-color')};
      --breadcrumb-item-active-color: #{themed('breadcrumb-item-active-color')};
      --list-header-title-color: #{themed('list-header-title-color')};
      --figcaption-color: #{themed('figcaption-color')};
      --figcaption-strong-color: #{themed('figcaption-strong-color')};
      --single-hr-background-color: #{themed('single-hr-background-color')};
      --single-blockquote-border-color: #{themed('single-blockquote-border-color')};
      --single-header-title-color: #{themed('single-header-title-color')};
      --single-contents-title-color: #{themed('single-contents-title-color')};
      --single-contents-subtitle-color: #{themed('single-contents-subtitle-color')};
      --related-header-title-color: #{themed('related-header-title-color')};
      --related-link-color: #{themed('related-link-color')};
      --content-box-border-color: #{themed('content-box-border-color')};
      --content-box-background-color: #{themed('content-box-background-color')};
      --burger-menu-color: #{themed('burger-menu-color')};
      --social-icon-color: #{themed('social-icon-color')};
      --social-icon-hover-color: #{themed('social-icon-hover-color')};
      --pagination-link-color: #{themed('pagination-link-color')};
      --pagination-background-color: #{themed('pagination-background-color')};
      --pagination-disabled-color: #{themed('pagination-disabled-color')};
      --pagination-number-color: #{themed('pagination-number-color')};
      --terms-title-color: #{themed('terms-title-color')};
      --terms-title-shadow-color: #{themed('terms-title-shadow-color')};
      --terms-tags-color: #{themed('terms-tags-color')};
      --terms-categories-color: #{themed('terms-categories-color')};
      --terms-series-color: #{themed('terms-series-color')};
      --terms-len-color: #{themed('terms-len-color')};
      --toc-label-color: #{themed('toc-label-color')};
      --toc-title-color: #{themed('toc-title-color')};
      --toc-vertical-line: #{themed('toc-vertical-line')};
      --toc-vertical-line-active: #{themed('toc-vertical-line-active')};
      --toc-header-background-color: #{themed('toc-header-background-color')};
      --toc-header-background-color-hover: #{themed('toc-header-background-color-hover')};
      --toc-body-background-color: #{themed('toc-body-background-color')};
      --search-placeholder-color: #{themed('search-placeholder-color')};
      --search-color: #{themed('search-color')};
      --search-icon-color: #{themed('search-icon-color')};
      --search-border-color: #{themed('search-border-color')};
      --search-border-outline-color: #{themed('search-border-outline-color')};
      --search-border-active-color: #{themed('search-border-active-color')};
      --search-content-: #{themed('search-content-')};
      --search-background-color: #{themed('search-background-color')};
      --search-content-background-color: #{themed('search-content-background-color')};
      --search-hover-background-color: #{themed('search-hover-background-color')};
      --search-highlight-color: #{themed('search-highlight-color')};
      --selection-color: #{themed('selection-color')};
      --selection-background-color: #{themed('selection-background-color')};
      --archive-key-color: #{themed('archive-key-color')};
      --archive-type-color: #{themed('archive-type-color')};
      --archive-meta-color: #{themed('archive-meta-color')};
      --archive-key-background-color: #{themed('archive-key-background-color')};
      --archive-type-background-color: #{themed('archive-type-background-color')};
      --archive-hover-line-color: #{themed('archive-hover-line-color')};
      --gtt-color: #{themed('gtt-color')};
      --gtt-background-color: #{themed('gtt-background-color')};
      --gtt-hover-color: #{themed('gtt-hover-color')};
      --gtt-hover-background-color: #{themed('gtt-hover-background-color')};
      --switch-background-color: #{themed('switch-background-color')};
      --switch-button-color: #{themed('switch-button-color')};
      --switch-active-color: #{themed('switch-active-color')};
      --gallery-mask-color: #{themed('gallery-mask-color')};
      --gallery-mask-background-color: #{themed('gallery-mask-background-color')};
      --contact-input-color: #{themed('contact-input-color')};
      --contact-input-background-color: #{themed('contact-input-background-color')};
      --contact-button-background-color: #{themed('contact-button-background-color')};
      --custom-scrollbar-foreground-color: #{themed('custom-scrollbar-foreground-color')};
      --custom-scrollbar-background-color: #{themed('custom-scrollbar-background-color')};
      --share-color: #{themed('share-color')};
      --share-shadow-color: #{themed('share-shadow-color')};
      --share-background-color: #{themed('share-background-color')};
      --donation-background-color: #{themed('donation-background-color')};
      --button-primary-color: #{themed('button-primary-color')};




      color: themed('body-color');
      background-color: themed('backdrop-background-color');
      hr {
        border-color: themed('hr-color');
      }
    }
  }
}

html {
  overflow-x: hidden;
}
