@mixin chroma-abap {
  /* Background */ .chroma { background-color: #ffffff }
  /* Error */ .chroma .err { }
--c-err: #ff0000;
  /* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
  /* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
  /* LineHighlight */ .chroma .hl { display: block; width: 100%;}
--c-hl-bg: #ffffcc;
  /* LineNumbersTable */ .chroma .lnt { padding: 0 0.4em 0 0.4em;}
--c-lnt: #7f7f7f;
  /* LineNumbers */ .chroma .ln { padding: 0 0.4em 0 0.4em;}
--c-ln: #7f7f7f;
  /* Keyword */ .chroma .k { }
--c-k: #0000ff;
  /* KeywordConstant */ .chroma .kc { }
--c-kc: #0000ff;
  /* KeywordDeclaration */ .chroma .kd { }
--c-kd: #0000ff;
  /* KeywordNamespace */ .chroma .kn { }
--c-kn: #0000ff;
  /* KeywordPseudo */ .chroma .kp { }
--c-kp: #0000ff;
  /* KeywordReserved */ .chroma .kr { }
--c-kr: #0000ff;
  /* KeywordType */ .chroma .kt { }
--c-kt: #0000ff;
  /* Name */ .chroma .n { }
--c-n: #000000;
  /* NameAttribute */ .chroma .na { }
--c-na: #000000;
  /* NameBuiltin */ .chroma .nb { }
--c-nb: #000000;
  /* NameBuiltinPseudo */ .chroma .bp { }
--c-bp: #000000;
  /* NameClass */ .chroma .nc { }
--c-nc: #000000;
  /* NameConstant */ .chroma .no { }
--c-no: #000000;
  /* NameDecorator */ .chroma .nd { }
--c-nd: #000000;
  /* NameEntity */ .chroma .ni { }
--c-ni: #000000;
  /* NameException */ .chroma .ne { }
--c-ne: #000000;
  /* NameFunction */ .chroma .nf { }
--c-nf: #000000;
  /* NameFunctionMagic */ .chroma .fm { }
--c-fm: #000000;
  /* NameLabel */ .chroma .nl { }
--c-nl: #000000;
  /* NameNamespace */ .chroma .nn { }
--c-nn: #000000;
  /* NameOther */ .chroma .nx { }
--c-nx: #000000;
  /* NameProperty */ .chroma .py { }
--c-py: #000000;
  /* NameTag */ .chroma .nt { }
--c-nt: #000000;
  /* NameVariable */ .chroma .nv { }
--c-nv: #000000;
  /* NameVariableClass */ .chroma .vc { }
--c-vc: #000000;
  /* NameVariableGlobal */ .chroma .vg { }
--c-vg: #000000;
  /* NameVariableInstance */ .chroma .vi { }
--c-vi: #000000;
  /* NameVariableMagic */ .chroma .vm { }
--c-vm: #000000;
  /* LiteralString */ .chroma .s { }
--c-s: #55aa22;
  /* LiteralStringAffix */ .chroma .sa { }
--c-sa: #55aa22;
  /* LiteralStringBacktick */ .chroma .sb { }
--c-sb: #55aa22;
  /* LiteralStringChar */ .chroma .sc { }
--c-sc: #55aa22;
  /* LiteralStringDelimiter */ .chroma .dl { }
--c-dl: #55aa22;
  /* LiteralStringDoc */ .chroma .sd { }
--c-sd: #55aa22;
  /* LiteralStringDouble */ .chroma .s2 { }
--c-s2: #55aa22;
  /* LiteralStringEscape */ .chroma .se { }
--c-se: #55aa22;
  /* LiteralStringHeredoc */ .chroma .sh { }
--c-sh: #55aa22;
  /* LiteralStringInterpol */ .chroma .si { }
--c-si: #55aa22;
  /* LiteralStringOther */ .chroma .sx { }
--c-sx: #55aa22;
  /* LiteralStringRegex */ .chroma .sr { }
--c-sr: #55aa22;
  /* LiteralStringSingle */ .chroma .s1 { }
--c-s1: #55aa22;
  /* LiteralStringSymbol */ .chroma .ss { }
--c-ss: #55aa22;
  /* LiteralNumber */ .chroma .m { }
--c-m: #33aaff;
  /* LiteralNumberBin */ .chroma .mb { }
--c-mb: #33aaff;
  /* LiteralNumberFloat */ .chroma .mf { }
--c-mf: #33aaff;
  /* LiteralNumberHex */ .chroma .mh { }
--c-mh: #33aaff;
  /* LiteralNumberInteger */ .chroma .mi { }
--c-mi: #33aaff;
  /* LiteralNumberIntegerLong */ .chroma .il { }
--c-il: #33aaff;
  /* LiteralNumberOct */ .chroma .mo { }
--c-mo: #33aaff;
  /* OperatorWord */ .chroma .ow { }
--c-ow: #0000ff;
  /* Comment */ .chroma .c {  font-style: italic }
--c-c: #888888;
  /* CommentHashbang */ .chroma .ch {  font-style: italic }
--c-ch: #888888;
  /* CommentMultiline */ .chroma .cm {  font-style: italic }
--c-cm: #888888;
  /* CommentSingle */ .chroma .c1 {  font-style: italic }
--c-c1: #888888;
  /* CommentSpecial */ .chroma .cs {  font-style: italic }
--c-cs: #888888;
  /* CommentPreproc */ .chroma .cp {  font-style: italic }
--c-cp: #888888;
  /* CommentPreprocFile */ .chroma .cpf {  font-style: italic }
--c-cpf: #888888;
}
