@mixin chroma-algol {
  /* Background */ .chroma { background-color: #ffffff }
  /* Error */ .chroma .err {  }
  /* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
  /* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
  /* LineHighlight */ .chroma .hl { display: block; width: 100%;}
--c-hl-bg: #ffffcc;
  /* LineNumbersTable */ .chroma .lnt { padding: 0 0.4em 0 0.4em;}
--c-lnt: #7f7f7f;
  /* LineNumbers */ .chroma .ln { padding: 0 0.4em 0 0.4em;}
--c-ln: #7f7f7f;
  /* Keyword */ .chroma .k { font-weight: bold; text-decoration: underline }
  /* KeywordConstant */ .chroma .kc { font-weight: bold; text-decoration: underline }
  /* KeywordDeclaration */ .chroma .kd { font-weight: bold; font-style: italic; text-decoration: underline }
  /* KeywordNamespace */ .chroma .kn { font-weight: bold; text-decoration: underline }
  /* KeywordPseudo */ .chroma .kp { font-weight: bold; text-decoration: underline }
  /* KeywordReserved */ .chroma .kr { font-weight: bold; text-decoration: underline }
  /* KeywordType */ .chroma .kt { font-weight: bold; text-decoration: underline }
  /* NameBuiltin */ .chroma .nb { font-weight: bold; font-style: italic }
  /* NameBuiltinPseudo */ .chroma .bp { font-weight: bold; font-style: italic }
  /* NameClass */ .chroma .nc {  font-weight: bold; font-style: italic }
--c-nc: #666666;
  /* NameConstant */ .chroma .no {  font-weight: bold; font-style: italic }
--c-no: #666666;
  /* NameFunction */ .chroma .nf {  font-weight: bold; font-style: italic }
--c-nf: #666666;
  /* NameNamespace */ .chroma .nn {  font-weight: bold; font-style: italic }
--c-nn: #666666;
  /* NameVariable */ .chroma .nv {  font-weight: bold; font-style: italic }
--c-nv: #666666;
  /* LiteralString */ .chroma .s {  font-style: italic }
--c-s: #666666;
  /* LiteralStringAffix */ .chroma .sa {  font-style: italic }
--c-sa: #666666;
  /* LiteralStringBacktick */ .chroma .sb {  font-style: italic }
--c-sb: #666666;
  /* LiteralStringChar */ .chroma .sc {  font-style: italic }
--c-sc: #666666;
  /* LiteralStringDelimiter */ .chroma .dl {  font-style: italic }
--c-dl: #666666;
  /* LiteralStringDoc */ .chroma .sd {  font-style: italic }
--c-sd: #666666;
  /* LiteralStringDouble */ .chroma .s2 {  font-style: italic }
--c-s2: #666666;
  /* LiteralStringEscape */ .chroma .se {  font-style: italic }
--c-se: #666666;
  /* LiteralStringHeredoc */ .chroma .sh {  font-style: italic }
--c-sh: #666666;
  /* LiteralStringInterpol */ .chroma .si {  font-style: italic }
--c-si: #666666;
  /* LiteralStringOther */ .chroma .sx {  font-style: italic }
--c-sx: #666666;
  /* LiteralStringRegex */ .chroma .sr {  font-style: italic }
--c-sr: #666666;
  /* LiteralStringSingle */ .chroma .s1 {  font-style: italic }
--c-s1: #666666;
  /* LiteralStringSymbol */ .chroma .ss {  font-style: italic }
--c-ss: #666666;
  /* OperatorWord */ .chroma .ow { font-weight: bold }
  /* Comment */ .chroma .c {  font-style: italic }
--c-c: #888888;
  /* CommentHashbang */ .chroma .ch {  font-style: italic }
--c-ch: #888888;
  /* CommentMultiline */ .chroma .cm {  font-style: italic }
--c-cm: #888888;
  /* CommentSingle */ .chroma .c1 {  font-style: italic }
--c-c1: #888888;
  /* CommentSpecial */ .chroma .cs {  font-weight: bold }
--c-cs: #888888;
  /* CommentPreproc */ .chroma .cp {  font-weight: bold }
--c-cp: #888888;
  /* CommentPreprocFile */ .chroma .cpf {  font-weight: bold }
--c-cpf: #888888;
}
