@mixin chroma-arduino {
  /* Background */ .chroma { background-color: #ffffff }
  /* Error */ .chroma .err { }
--c-err: #a61717;
  /* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
  /* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
  /* LineHighlight */ .chroma .hl { display: block; width: 100%;}
--c-hl-bg: #ffffcc;
  /* LineNumbersTable */ .chroma .lnt { padding: 0 0.4em 0 0.4em;}
--c-lnt: #7f7f7f;
  /* LineNumbers */ .chroma .ln { padding: 0 0.4em 0 0.4em;}
--c-ln: #7f7f7f;
  /* Keyword */ .chroma .k { }
--c-k: #728e00;
  /* KeywordConstant */ .chroma .kc { }
--c-kc: #00979d;
  /* KeywordDeclaration */ .chroma .kd { }
--c-kd: #728e00;
  /* KeywordNamespace */ .chroma .kn { }
--c-kn: #728e00;
  /* KeywordPseudo */ .chroma .kp { }
--c-kp: #00979d;
  /* KeywordReserved */ .chroma .kr { }
--c-kr: #00979d;
  /* KeywordType */ .chroma .kt { }
--c-kt: #00979d;
  /* Name */ .chroma .n { }
--c-n: #434f54;
  /* NameAttribute */ .chroma .na { }
--c-na: #434f54;
  /* NameBuiltin */ .chroma .nb { }
--c-nb: #728e00;
  /* NameBuiltinPseudo */ .chroma .bp { }
--c-bp: #434f54;
  /* NameClass */ .chroma .nc { }
--c-nc: #434f54;
  /* NameConstant */ .chroma .no { }
--c-no: #434f54;
  /* NameDecorator */ .chroma .nd { }
--c-nd: #434f54;
  /* NameEntity */ .chroma .ni { }
--c-ni: #434f54;
  /* NameException */ .chroma .ne { }
--c-ne: #434f54;
  /* NameFunction */ .chroma .nf { }
--c-nf: #d35400;
  /* NameFunctionMagic */ .chroma .fm { }
--c-fm: #434f54;
  /* NameLabel */ .chroma .nl { }
--c-nl: #434f54;
  /* NameNamespace */ .chroma .nn { }
--c-nn: #434f54;
  /* NameOther */ .chroma .nx { }
--c-nx: #728e00;
  /* NameProperty */ .chroma .py { }
--c-py: #434f54;
  /* NameTag */ .chroma .nt { }
--c-nt: #434f54;
  /* NameVariable */ .chroma .nv { }
--c-nv: #434f54;
  /* NameVariableClass */ .chroma .vc { }
--c-vc: #434f54;
  /* NameVariableGlobal */ .chroma .vg { }
--c-vg: #434f54;
  /* NameVariableInstance */ .chroma .vi { }
--c-vi: #434f54;
  /* NameVariableMagic */ .chroma .vm { }
--c-vm: #434f54;
  /* LiteralString */ .chroma .s { }
--c-s: #7f8c8d;
  /* LiteralStringAffix */ .chroma .sa { }
--c-sa: #7f8c8d;
  /* LiteralStringBacktick */ .chroma .sb { }
--c-sb: #7f8c8d;
  /* LiteralStringChar */ .chroma .sc { }
--c-sc: #7f8c8d;
  /* LiteralStringDelimiter */ .chroma .dl { }
--c-dl: #7f8c8d;
  /* LiteralStringDoc */ .chroma .sd { }
--c-sd: #7f8c8d;
  /* LiteralStringDouble */ .chroma .s2 { }
--c-s2: #7f8c8d;
  /* LiteralStringEscape */ .chroma .se { }
--c-se: #7f8c8d;
  /* LiteralStringHeredoc */ .chroma .sh { }
--c-sh: #7f8c8d;
  /* LiteralStringInterpol */ .chroma .si { }
--c-si: #7f8c8d;
  /* LiteralStringOther */ .chroma .sx { }
--c-sx: #7f8c8d;
  /* LiteralStringRegex */ .chroma .sr { }
--c-sr: #7f8c8d;
  /* LiteralStringSingle */ .chroma .s1 { }
--c-s1: #7f8c8d;
  /* LiteralStringSymbol */ .chroma .ss { }
--c-ss: #7f8c8d;
  /* LiteralNumber */ .chroma .m { }
--c-m: #8a7b52;
  /* LiteralNumberBin */ .chroma .mb { }
--c-mb: #8a7b52;
  /* LiteralNumberFloat */ .chroma .mf { }
--c-mf: #8a7b52;
  /* LiteralNumberHex */ .chroma .mh { }
--c-mh: #8a7b52;
  /* LiteralNumberInteger */ .chroma .mi { }
--c-mi: #8a7b52;
  /* LiteralNumberIntegerLong */ .chroma .il { }
--c-il: #8a7b52;
  /* LiteralNumberOct */ .chroma .mo { }
--c-mo: #8a7b52;
  /* Operator */ .chroma .o { }
--c-o: #728e00;
  /* OperatorWord */ .chroma .ow { }
--c-ow: #728e00;
  /* Comment */ .chroma .c { }
--c-c: #95a5a6;
  /* CommentHashbang */ .chroma .ch { }
--c-ch: #95a5a6;
  /* CommentMultiline */ .chroma .cm { }
--c-cm: #95a5a6;
  /* CommentSingle */ .chroma .c1 { }
--c-c1: #95a5a6;
  /* CommentSpecial */ .chroma .cs { }
--c-cs: #95a5a6;
  /* CommentPreproc */ .chroma .cp { }
--c-cp: #728e00;
  /* CommentPreprocFile */ .chroma .cpf { }
--c-cpf: #728e00;
}
