@mixin chroma-borland {
  /* Background */ .chroma { background-color: #ffffff }
  /* Error */ .chroma .err {  }
--c-err-bg: #e3d2d2;
--c-err: #a61717;
  /* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
  /* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
  /* LineHighlight */ .chroma .hl { display: block; width: 100%;}
--c-hl-bg: #ffffcc;
  /* LineNumbersTable */ .chroma .lnt { padding: 0 0.4em 0 0.4em;}
--c-lnt: #7f7f7f;
  /* LineNumbers */ .chroma .ln { padding: 0 0.4em 0 0.4em;}
--c-ln: #7f7f7f;
  /* Keyword */ .chroma .k {  font-weight: bold }
--c-k: #000080;
  /* KeywordConstant */ .chroma .kc {  font-weight: bold }
--c-kc: #000080;
  /* KeywordDeclaration */ .chroma .kd {  font-weight: bold }
--c-kd: #000080;
  /* KeywordNamespace */ .chroma .kn {  font-weight: bold }
--c-kn: #000080;
  /* KeywordPseudo */ .chroma .kp {  font-weight: bold }
--c-kp: #000080;
  /* KeywordReserved */ .chroma .kr {  font-weight: bold }
--c-kr: #000080;
  /* KeywordType */ .chroma .kt {  font-weight: bold }
--c-kt: #000080;
  /* NameAttribute */ .chroma .na { }
--c-na: #ff0000;
  /* NameTag */ .chroma .nt {  font-weight: bold }
--c-nt: #000080;
  /* LiteralString */ .chroma .s { }
--c-s: #0000ff;
  /* LiteralStringAffix */ .chroma .sa { }
--c-sa: #0000ff;
  /* LiteralStringBacktick */ .chroma .sb { }
--c-sb: #0000ff;
  /* LiteralStringChar */ .chroma .sc { }
--c-sc: #800080;
  /* LiteralStringDelimiter */ .chroma .dl { }
--c-dl: #0000ff;
  /* LiteralStringDoc */ .chroma .sd { }
--c-sd: #0000ff;
  /* LiteralStringDouble */ .chroma .s2 { }
--c-s2: #0000ff;
  /* LiteralStringEscape */ .chroma .se { }
--c-se: #0000ff;
  /* LiteralStringHeredoc */ .chroma .sh { }
--c-sh: #0000ff;
  /* LiteralStringInterpol */ .chroma .si { }
--c-si: #0000ff;
  /* LiteralStringOther */ .chroma .sx { }
--c-sx: #0000ff;
  /* LiteralStringRegex */ .chroma .sr { }
--c-sr: #0000ff;
  /* LiteralStringSingle */ .chroma .s1 { }
--c-s1: #0000ff;
  /* LiteralStringSymbol */ .chroma .ss { }
--c-ss: #0000ff;
  /* LiteralNumber */ .chroma .m { }
--c-m: #0000ff;
  /* LiteralNumberBin */ .chroma .mb { }
--c-mb: #0000ff;
  /* LiteralNumberFloat */ .chroma .mf { }
--c-mf: #0000ff;
  /* LiteralNumberHex */ .chroma .mh { }
--c-mh: #0000ff;
  /* LiteralNumberInteger */ .chroma .mi { }
--c-mi: #0000ff;
  /* LiteralNumberIntegerLong */ .chroma .il { }
--c-il: #0000ff;
  /* LiteralNumberOct */ .chroma .mo { }
--c-mo: #0000ff;
  /* OperatorWord */ .chroma .ow { font-weight: bold }
  /* Comment */ .chroma .c {  font-style: italic }
--c-c: #008800;
  /* CommentHashbang */ .chroma .ch {  font-style: italic }
--c-ch: #008800;
  /* CommentMultiline */ .chroma .cm {  font-style: italic }
--c-cm: #008800;
  /* CommentSingle */ .chroma .c1 {  font-style: italic }
--c-c1: #008800;
  /* CommentSpecial */ .chroma .cs {  font-weight: bold }
--c-cs: #008800;
  /* CommentPreproc */ .chroma .cp { }
--c-cp: #008080;
  /* CommentPreprocFile */ .chroma .cpf { }
--c-cpf: #008080;
  /* GenericDeleted */ .chroma .gd {  }
--c-gd-bg: #ffdddd;
--c-gd: #000000;
  /* GenericEmph */ .chroma .ge { font-style: italic }
  /* GenericError */ .chroma .gr { }
--c-gr: #aa0000;
  /* GenericHeading */ .chroma .gh { }
--c-gh: #999999;
  /* GenericInserted */ .chroma .gi {  }
--c-gi-bg: #ddffdd;
--c-gi: #000000;
  /* GenericOutput */ .chroma .go { }
--c-go: #888888;
  /* GenericPrompt */ .chroma .gp { }
--c-gp: #555555;
  /* GenericStrong */ .chroma .gs { font-weight: bold }
  /* GenericSubheading */ .chroma .gu { }
--c-gu: #aaaaaa;
  /* GenericTraceback */ .chroma .gt { }
--c-gt: #aa0000;
  /* GenericUnderline */ .chroma .gl { text-decoration: underline }
  /* TextWhitespace */ .chroma .w { }
--c-w: #bbbbbb;
}
