@mixin chroma-dracula {
  /* Background */ .chroma { color: #f8f8f2; background-color: #282a36 }
  /* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
  /* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
  /* LineHighlight */ .chroma .hl { display: block; width: 100%;}
--c-hl-bg: black;
  /* LineNumbersTable */ .chroma .lnt { padding: 0 0.4em 0 0.4em;}
--c-lnt: #7f7f7f;
  /* LineNumbers */ .chroma .ln { padding: 0 0.4em 0 0.4em;}
--c-ln: #7f7f7f;
  /* Keyword */ .chroma .k { }
--c-k: #ff79c6;
  /* KeywordConstant */ .chroma .kc { }
--c-kc: #ff79c6;
  /* KeywordDeclaration */ .chroma .kd {  font-style: italic }
--c-kd: #8be9fd;
  /* KeywordNamespace */ .chroma .kn { }
--c-kn: #ff79c6;
  /* KeywordPseudo */ .chroma .kp { }
--c-kp: #ff79c6;
  /* KeywordReserved */ .chroma .kr { }
--c-kr: #ff79c6;
  /* KeywordType */ .chroma .kt { }
--c-kt: #8be9fd;
  /* NameAttribute */ .chroma .na { }
--c-na: #50fa7b;
  /* NameBuiltin */ .chroma .nb {  font-style: italic }
--c-nb: #8be9fd;
  /* NameClass */ .chroma .nc { }
--c-nc: #50fa7b;
  /* NameFunction */ .chroma .nf { }
--c-nf: #50fa7b;
  /* NameLabel */ .chroma .nl {  font-style: italic }
--c-nl: #8be9fd;
  /* NameTag */ .chroma .nt { }
--c-nt: #ff79c6;
  /* NameVariable */ .chroma .nv {  font-style: italic }
--c-nv: #8be9fd;
  /* NameVariableClass */ .chroma .vc {  font-style: italic }
--c-vc: #8be9fd;
  /* NameVariableGlobal */ .chroma .vg {  font-style: italic }
--c-vg: #8be9fd;
  /* NameVariableInstance */ .chroma .vi {  font-style: italic }
--c-vi: #8be9fd;
  /* LiteralString */ .chroma .s { }
--c-s: #f1fa8c;
  /* LiteralStringAffix */ .chroma .sa { }
--c-sa: #f1fa8c;
  /* LiteralStringBacktick */ .chroma .sb { }
--c-sb: #f1fa8c;
  /* LiteralStringChar */ .chroma .sc { }
--c-sc: #f1fa8c;
  /* LiteralStringDelimiter */ .chroma .dl { }
--c-dl: #f1fa8c;
  /* LiteralStringDoc */ .chroma .sd { }
--c-sd: #f1fa8c;
  /* LiteralStringDouble */ .chroma .s2 { }
--c-s2: #f1fa8c;
  /* LiteralStringEscape */ .chroma .se { }
--c-se: #f1fa8c;
  /* LiteralStringHeredoc */ .chroma .sh { }
--c-sh: #f1fa8c;
  /* LiteralStringInterpol */ .chroma .si { }
--c-si: #f1fa8c;
  /* LiteralStringOther */ .chroma .sx { }
--c-sx: #f1fa8c;
  /* LiteralStringRegex */ .chroma .sr { }
--c-sr: #f1fa8c;
  /* LiteralStringSingle */ .chroma .s1 { }
--c-s1: #f1fa8c;
  /* LiteralStringSymbol */ .chroma .ss { }
--c-ss: #f1fa8c;
  /* LiteralNumber */ .chroma .m { }
--c-m: #bd93f9;
  /* LiteralNumberBin */ .chroma .mb { }
--c-mb: #bd93f9;
  /* LiteralNumberFloat */ .chroma .mf { }
--c-mf: #bd93f9;
  /* LiteralNumberHex */ .chroma .mh { }
--c-mh: #bd93f9;
  /* LiteralNumberInteger */ .chroma .mi { }
--c-mi: #bd93f9;
  /* LiteralNumberIntegerLong */ .chroma .il { }
--c-il: #bd93f9;
  /* LiteralNumberOct */ .chroma .mo { }
--c-mo: #bd93f9;
  /* Operator */ .chroma .o { }
--c-o: #ff79c6;
  /* OperatorWord */ .chroma .ow { }
--c-ow: #ff79c6;
  /* Comment */ .chroma .c { }
--c-c: #6272a4;
  /* CommentHashbang */ .chroma .ch { }
--c-ch: #6272a4;
  /* CommentMultiline */ .chroma .cm { }
--c-cm: #6272a4;
  /* CommentSingle */ .chroma .c1 { }
--c-c1: #6272a4;
  /* CommentSpecial */ .chroma .cs { }
--c-cs: #6272a4;
  /* CommentPreproc */ .chroma .cp { }
--c-cp: #ff79c6;
  /* CommentPreprocFile */ .chroma .cpf { }
--c-cpf: #ff79c6;
  /* GenericDeleted */ .chroma .gd { }
--c-gd: #8b080b;
  /* GenericEmph */ .chroma .ge { text-decoration: underline }
  /* GenericHeading */ .chroma .gh { font-weight: bold }
  /* GenericInserted */ .chroma .gi { font-weight: bold }
  /* GenericOutput */ .chroma .go { }
--c-go: #44475a;
  /* GenericSubheading */ .chroma .gu { font-weight: bold }
  /* GenericUnderline */ .chroma .gl { text-decoration: underline }
}
