@mixin chroma-duotonelight {
  /* Background */ .chroma { background-color: #F5F2F0 }
  /* Error */ .chroma .err {  }
--c-err-bg: #e3d2d2;
--c-err: #a61717;
  /* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
  /* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
  /* LineHighlight */ .chroma .hl { display: block; width: 100%;}
--c-hl-bg: #ffffcc;
  /* LineNumbersTable */ .chroma .lnt { padding: 0 0.4em 0 0.4em;}
--c-lnt: #728fcb;
  /* LineNumbers */ .chroma .ln { padding: 0 0.4em 0 0.4em;}
--c-ln: #728fcb;
  /* Keyword */ .chroma .k {  font-weight: bold }
--c-k: #728fcb;
  /* KeywordConstant */ .chroma .kc {  font-weight: bold }
--c-kc: #728fcb;
  /* KeywordDeclaration */ .chroma .kd {  font-weight: bold }
--c-kd: #728fcb;
  /* KeywordNamespace */ .chroma .kn {  font-weight: bold }
--c-kn: #728fcb;
  /* KeywordPseudo */ .chroma .kp {  font-weight: bold }
--c-kp: #728fcb;
  /* KeywordReserved */ .chroma .kr {  font-weight: bold }
--c-kr: #728fcb;
  /* KeywordType */ .chroma .kt {  font-weight: bold }
--c-kt: #445588;
  /* NameAttribute */ .chroma .na { }
--c-na: #896724;
  /* NameBuiltin */ .chroma .nb { }
--c-nb: #0086b3;
  /* NameBuiltinPseudo */ .chroma .bp { }
--c-bp: #b6ad9a;
  /* NameClass */ .chroma .nc {  font-weight: bold }
--c-nc: #445588;
  /* NameConstant */ .chroma .no { }
--c-no: #896724;
  /* NameDecorator */ .chroma .nd {  font-weight: bold }
--c-nd: #3c5d5d;
  /* NameEntity */ .chroma .ni { }
--c-ni: #728fcb;
  /* NameException */ .chroma .ne {  font-weight: bold }
--c-ne: #b29762;
  /* NameFunction */ .chroma .nf {  font-weight: bold }
--c-nf: #b29762;
  /* NameLabel */ .chroma .nl {  font-weight: bold }
--c-nl: #b29762;
  /* NameNamespace */ .chroma .nn { }
--c-nn: #555555;
  /* NameTag */ .chroma .nt { }
--c-nt: #063289;
  /* NameVariable */ .chroma .nv { }
--c-nv: #896724;
  /* NameVariableClass */ .chroma .vc { }
--c-vc: #896724;
  /* NameVariableGlobal */ .chroma .vg { }
--c-vg: #896724;
  /* NameVariableInstance */ .chroma .vi { }
--c-vi: #896724;
  /* LiteralString */ .chroma .s { }
--c-s: #728fcb;
  /* LiteralStringAffix */ .chroma .sa { }
--c-sa: #728fcb;
  /* LiteralStringBacktick */ .chroma .sb { }
--c-sb: #728fcb;
  /* LiteralStringChar */ .chroma .sc { }
--c-sc: #728fcb;
  /* LiteralStringDelimiter */ .chroma .dl { }
--c-dl: #728fcb;
  /* LiteralStringDoc */ .chroma .sd { }
--c-sd: #728fcb;
  /* LiteralStringDouble */ .chroma .s2 { }
--c-s2: #728fcb;
  /* LiteralStringEscape */ .chroma .se { }
--c-se: #728fcb;
  /* LiteralStringHeredoc */ .chroma .sh { }
--c-sh: #728fcb;
  /* LiteralStringInterpol */ .chroma .si { }
--c-si: #728fcb;
  /* LiteralStringOther */ .chroma .sx { }
--c-sx: #728fcb;
  /* LiteralStringRegex */ .chroma .sr { }
--c-sr: #009926;
  /* LiteralStringSingle */ .chroma .s1 { }
--c-s1: #728fcb;
  /* LiteralStringSymbol */ .chroma .ss { }
--c-ss: #990073;
  /* LiteralNumber */ .chroma .m { }
--c-m: #009999;
  /* LiteralNumberBin */ .chroma .mb { }
--c-mb: #009999;
  /* LiteralNumberFloat */ .chroma .mf { }
--c-mf: #009999;
  /* LiteralNumberHex */ .chroma .mh { }
--c-mh: #009999;
  /* LiteralNumberInteger */ .chroma .mi { }
--c-mi: #009999;
  /* LiteralNumberIntegerLong */ .chroma .il { }
--c-il: #009999;
  /* LiteralNumberOct */ .chroma .mo { }
--c-mo: #009999;
  /* Operator */ .chroma .o {  font-weight: bold }
--c-o: #728fcb;
  /* OperatorWord */ .chroma .ow {  font-weight: bold }
--c-ow: #728fcb;
  /* Comment */ .chroma .c {  font-style: italic }
--c-c: #b6ad9a;
  /* CommentHashbang */ .chroma .ch {  font-style: italic }
--c-ch: #b6ad9a;
  /* CommentMultiline */ .chroma .cm {  font-style: italic }
--c-cm: #b6ad9a;
  /* CommentSingle */ .chroma .c1 {  font-style: italic }
--c-c1: #b6ad9a;
  /* CommentSpecial */ .chroma .cs {  font-weight: bold; font-style: italic }
--c-cs: #b6ad9a;
  /* CommentPreproc */ .chroma .cp {  font-weight: bold; font-style: italic }
--c-cp: #b6ad9a;
  /* CommentPreprocFile */ .chroma .cpf {  font-weight: bold; font-style: italic }
--c-cpf: #b6ad9a;
  /* GenericDeleted */ .chroma .gd {  }
--c-gd-bg: #ffdddd;
--c-gd: #728fcb;
  /* GenericEmph */ .chroma .ge {  font-style: italic }
--c-ge: #728fcb;
  /* GenericError */ .chroma .gr { }
--c-gr: #aa0000;
  /* GenericHeading */ .chroma .gh { }
--c-gh: #b6ad9a;
  /* GenericInserted */ .chroma .gi {  }
--c-gi-bg: #ddffdd;
--c-gi: #728fcb;
  /* GenericOutput */ .chroma .go { }
--c-go: #888888;
  /* GenericPrompt */ .chroma .gp { }
--c-gp: #555555;
  /* GenericStrong */ .chroma .gs { font-weight: bold }
  /* GenericSubheading */ .chroma .gu { }
--c-gu: #aaaaaa;
  /* GenericTraceback */ .chroma .gt { }
--c-gt: #aa0000;
  /* GenericUnderline */ .chroma .gl { text-decoration: underline }
  /* TextWhitespace */ .chroma .w { }
--c-w: #bbbbbb;
  /* Punctuatoin */ .chroma .p { }
--c-p: #b6ad9a;
}
