@mixin chroma-emacs {
  /* Background */ .chroma { background-color: #f8f8f8 }
  /* Error */ .chroma .err {  }
  /* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
  /* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
  /* LineHighlight */ .chroma .hl { display: block; width: 100%;}
--c-hl-bg: #ffffcc;
  /* LineNumbersTable */ .chroma .lnt { padding: 0 0.4em 0 0.4em;}
--c-lnt: #7f7f7f;
  /* LineNumbers */ .chroma .ln { padding: 0 0.4em 0 0.4em;}
--c-ln: #7f7f7f;
  /* Keyword */ .chroma .k {  font-weight: bold }
--c-k: #aa22ff;
  /* KeywordConstant */ .chroma .kc {  font-weight: bold }
--c-kc: #aa22ff;
  /* KeywordDeclaration */ .chroma .kd {  font-weight: bold }
--c-kd: #aa22ff;
  /* KeywordNamespace */ .chroma .kn {  font-weight: bold }
--c-kn: #aa22ff;
  /* KeywordPseudo */ .chroma .kp { }
--c-kp: #aa22ff;
  /* KeywordReserved */ .chroma .kr {  font-weight: bold }
--c-kr: #aa22ff;
  /* KeywordType */ .chroma .kt {  font-weight: bold }
--c-kt: #00bb00;
  /* NameAttribute */ .chroma .na { }
--c-na: #bb4444;
  /* NameBuiltin */ .chroma .nb { }
--c-nb: #aa22ff;
  /* NameClass */ .chroma .nc { }
--c-nc: #0000ff;
  /* NameConstant */ .chroma .no { }
--c-no: #880000;
  /* NameDecorator */ .chroma .nd { }
--c-nd: #aa22ff;
  /* NameEntity */ .chroma .ni {  font-weight: bold }
--c-ni: #999999;
  /* NameException */ .chroma .ne {  font-weight: bold }
--c-ne: #d2413a;
  /* NameFunction */ .chroma .nf { }
--c-nf: #00a000;
  /* NameLabel */ .chroma .nl { }
--c-nl: #a0a000;
  /* NameNamespace */ .chroma .nn {  font-weight: bold }
--c-nn: #0000ff;
  /* NameTag */ .chroma .nt {  font-weight: bold }
--c-nt: #008000;
  /* NameVariable */ .chroma .nv { }
--c-nv: #b8860b;
  /* LiteralString */ .chroma .s { }
--c-s: #bb4444;
  /* LiteralStringAffix */ .chroma .sa { }
--c-sa: #bb4444;
  /* LiteralStringBacktick */ .chroma .sb { }
--c-sb: #bb4444;
  /* LiteralStringChar */ .chroma .sc { }
--c-sc: #bb4444;
  /* LiteralStringDelimiter */ .chroma .dl { }
--c-dl: #bb4444;
  /* LiteralStringDoc */ .chroma .sd {  font-style: italic }
--c-sd: #bb4444;
  /* LiteralStringDouble */ .chroma .s2 { }
--c-s2: #bb4444;
  /* LiteralStringEscape */ .chroma .se {  font-weight: bold }
--c-se: #bb6622;
  /* LiteralStringHeredoc */ .chroma .sh { }
--c-sh: #bb4444;
  /* LiteralStringInterpol */ .chroma .si {  font-weight: bold }
--c-si: #bb6688;
  /* LiteralStringOther */ .chroma .sx { }
--c-sx: #008000;
  /* LiteralStringRegex */ .chroma .sr { }
--c-sr: #bb6688;
  /* LiteralStringSingle */ .chroma .s1 { }
--c-s1: #bb4444;
  /* LiteralStringSymbol */ .chroma .ss { }
--c-ss: #b8860b;
  /* LiteralNumber */ .chroma .m { }
--c-m: #666666;
  /* LiteralNumberBin */ .chroma .mb { }
--c-mb: #666666;
  /* LiteralNumberFloat */ .chroma .mf { }
--c-mf: #666666;
  /* LiteralNumberHex */ .chroma .mh { }
--c-mh: #666666;
  /* LiteralNumberInteger */ .chroma .mi { }
--c-mi: #666666;
  /* LiteralNumberIntegerLong */ .chroma .il { }
--c-il: #666666;
  /* LiteralNumberOct */ .chroma .mo { }
--c-mo: #666666;
  /* Operator */ .chroma .o { }
--c-o: #666666;
  /* OperatorWord */ .chroma .ow {  font-weight: bold }
--c-ow: #aa22ff;
  /* Comment */ .chroma .c {  font-style: italic }
--c-c: #008800;
  /* CommentHashbang */ .chroma .ch {  font-style: italic }
--c-ch: #008800;
  /* CommentMultiline */ .chroma .cm {  font-style: italic }
--c-cm: #008800;
  /* CommentSingle */ .chroma .c1 {  font-style: italic }
--c-c1: #008800;
  /* CommentSpecial */ .chroma .cs {  font-weight: bold }
--c-cs: #008800;
  /* CommentPreproc */ .chroma .cp { }
--c-cp: #008800;
  /* CommentPreprocFile */ .chroma .cpf { }
--c-cpf: #008800;
  /* GenericDeleted */ .chroma .gd { }
--c-gd: #a00000;
  /* GenericEmph */ .chroma .ge { font-style: italic }
  /* GenericError */ .chroma .gr { }
--c-gr: #ff0000;
  /* GenericHeading */ .chroma .gh {  font-weight: bold }
--c-gh: #000080;
  /* GenericInserted */ .chroma .gi { }
--c-gi: #00a000;
  /* GenericOutput */ .chroma .go { }
--c-go: #888888;
  /* GenericPrompt */ .chroma .gp {  font-weight: bold }
--c-gp: #000080;
  /* GenericStrong */ .chroma .gs { font-weight: bold }
  /* GenericSubheading */ .chroma .gu {  font-weight: bold }
--c-gu: #800080;
  /* GenericTraceback */ .chroma .gt { }
--c-gt: #0044dd;
  /* GenericUnderline */ .chroma .gl { text-decoration: underline }
  /* TextWhitespace */ .chroma .w { }
--c-w: #bbbbbb;
}
