@mixin chroma-igor {
  /* Background */ .chroma { background-color: #ffffff }
  /* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
  /* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
  /* LineHighlight */ .chroma .hl { display: block; width: 100%;}
--c-hl-bg: #ffffcc;
  /* LineNumbersTable */ .chroma .lnt { padding: 0 0.4em 0 0.4em;}
--c-lnt: #7f7f7f;
  /* LineNumbers */ .chroma .ln { padding: 0 0.4em 0 0.4em;}
--c-ln: #7f7f7f;
  /* Keyword */ .chroma .k { }
--c-k: #0000ff;
  /* KeywordConstant */ .chroma .kc { }
--c-kc: #0000ff;
  /* KeywordDeclaration */ .chroma .kd { }
--c-kd: #0000ff;
  /* KeywordNamespace */ .chroma .kn { }
--c-kn: #0000ff;
  /* KeywordPseudo */ .chroma .kp { }
--c-kp: #0000ff;
  /* KeywordReserved */ .chroma .kr { }
--c-kr: #0000ff;
  /* KeywordType */ .chroma .kt { }
--c-kt: #0000ff;
  /* NameClass */ .chroma .nc { }
--c-nc: #007575;
  /* NameDecorator */ .chroma .nd { }
--c-nd: #cc00a3;
  /* NameFunction */ .chroma .nf { }
--c-nf: #c34e00;
  /* LiteralString */ .chroma .s { }
--c-s: #009c00;
  /* LiteralStringAffix */ .chroma .sa { }
--c-sa: #009c00;
  /* LiteralStringBacktick */ .chroma .sb { }
--c-sb: #009c00;
  /* LiteralStringChar */ .chroma .sc { }
--c-sc: #009c00;
  /* LiteralStringDelimiter */ .chroma .dl { }
--c-dl: #009c00;
  /* LiteralStringDoc */ .chroma .sd { }
--c-sd: #009c00;
  /* LiteralStringDouble */ .chroma .s2 { }
--c-s2: #009c00;
  /* LiteralStringEscape */ .chroma .se { }
--c-se: #009c00;
  /* LiteralStringHeredoc */ .chroma .sh { }
--c-sh: #009c00;
  /* LiteralStringInterpol */ .chroma .si { }
--c-si: #009c00;
  /* LiteralStringOther */ .chroma .sx { }
--c-sx: #009c00;
  /* LiteralStringRegex */ .chroma .sr { }
--c-sr: #009c00;
  /* LiteralStringSingle */ .chroma .s1 { }
--c-s1: #009c00;
  /* LiteralStringSymbol */ .chroma .ss { }
--c-ss: #009c00;
  /* Comment */ .chroma .c {  font-style: italic }
--c-c: #ff0000;
  /* CommentHashbang */ .chroma .ch {  font-style: italic }
--c-ch: #ff0000;
  /* CommentMultiline */ .chroma .cm {  font-style: italic }
--c-cm: #ff0000;
  /* CommentSingle */ .chroma .c1 {  font-style: italic }
--c-c1: #ff0000;
  /* CommentSpecial */ .chroma .cs {  font-style: italic }
--c-cs: #ff0000;
  /* CommentPreproc */ .chroma .cp {  font-style: italic }
--c-cp: #ff0000;
  /* CommentPreprocFile */ .chroma .cpf {  font-style: italic }
--c-cpf: #ff0000;
}
