@mixin chroma-monokai {
  /* Background */ .chroma { color: #f8f8f2; background-color: #171f2e }
  /* Error */ .chroma .err {  }
--c-err-bg: #1e0010;
--c-err: #960050;
  /* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
  /* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
  /* LineHighlight */ .chroma .hl { display: block; width: 100%;}
--c-hl-bg: black;
  /* LineNumbersTable */ .chroma .lnt { padding: 0 0.4em 0 0.4em;}
--c-lnt: #7f7f7f;
  /* LineNumbers */ .chroma .ln { padding: 0 0.4em 0 0.4em;}
--c-ln: #7f7f7f;
  /* Keyword */ .chroma .k { }
--c-k: #66d9ef;
  /* KeywordConstant */ .chroma .kc { }
--c-kc: #66d9ef;
  /* KeywordDeclaration */ .chroma .kd { }
--c-kd: #66d9ef;
  /* KeywordNamespace */ .chroma .kn { }
--c-kn: #f92672;
  /* KeywordPseudo */ .chroma .kp { }
--c-kp: #66d9ef;
  /* KeywordReserved */ .chroma .kr { }
--c-kr: #66d9ef;
  /* KeywordType */ .chroma .kt { }
--c-kt: #66d9ef;
  /* NameAttribute */ .chroma .na { }
--c-na: #a6e22e;
  /* NameClass */ .chroma .nc { }
--c-nc: #a6e22e;
  /* NameConstant */ .chroma .no { }
--c-no: #66d9ef;
  /* NameDecorator */ .chroma .nd { }
--c-nd: #a6e22e;
  /* NameException */ .chroma .ne { }
--c-ne: #a6e22e;
  /* NameFunction */ .chroma .nf { }
--c-nf: #a6e22e;
  /* NameOther */ .chroma .nx { }
--c-nx: #a6e22e;
  /* NameTag */ .chroma .nt { }
--c-nt: #f92672;
  /* Literal */ .chroma .l { }
--c-l: #ae81ff;
  /* LiteralDate */ .chroma .ld { }
--c-ld: #e6db74;
  /* LiteralString */ .chroma .s { }
--c-s: #e6db74;
  /* LiteralStringAffix */ .chroma .sa { }
--c-sa: #e6db74;
  /* LiteralStringBacktick */ .chroma .sb { }
--c-sb: #e6db74;
  /* LiteralStringChar */ .chroma .sc { }
--c-sc: #e6db74;
  /* LiteralStringDelimiter */ .chroma .dl { }
--c-dl: #e6db74;
  /* LiteralStringDoc */ .chroma .sd { }
--c-sd: #e6db74;
  /* LiteralStringDouble */ .chroma .s2 { }
--c-s2: #e6db74;
  /* LiteralStringEscape */ .chroma .se { }
--c-se: #ae81ff;
  /* LiteralStringHeredoc */ .chroma .sh { }
--c-sh: #e6db74;
  /* LiteralStringInterpol */ .chroma .si { }
--c-si: #e6db74;
  /* LiteralStringOther */ .chroma .sx { }
--c-sx: #e6db74;
  /* LiteralStringRegex */ .chroma .sr { }
--c-sr: #e6db74;
  /* LiteralStringSingle */ .chroma .s1 { }
--c-s1: #e6db74;
  /* LiteralStringSymbol */ .chroma .ss { }
--c-ss: #e6db74;
  /* LiteralNumber */ .chroma .m { }
--c-m: #ae81ff;
  /* LiteralNumberBin */ .chroma .mb { }
--c-mb: #ae81ff;
  /* LiteralNumberFloat */ .chroma .mf { }
--c-mf: #ae81ff;
  /* LiteralNumberHex */ .chroma .mh { }
--c-mh: #ae81ff;
  /* LiteralNumberInteger */ .chroma .mi { }
--c-mi: #ae81ff;
  /* LiteralNumberIntegerLong */ .chroma .il { }
--c-il: #ae81ff;
  /* LiteralNumberOct */ .chroma .mo { }
--c-mo: #ae81ff;
  /* Operator */ .chroma .o { }
--c-o: #f92672;
  /* OperatorWord */ .chroma .ow { }
--c-ow: #f92672;
  /* Comment */ .chroma .c { }
--c-c: #75715e;
  /* CommentHashbang */ .chroma .ch { }
--c-ch: #75715e;
  /* CommentMultiline */ .chroma .cm { }
--c-cm: #75715e;
  /* CommentSingle */ .chroma .c1 { }
--c-c1: #75715e;
  /* CommentSpecial */ .chroma .cs { }
--c-cs: #75715e;
  /* CommentPreproc */ .chroma .cp { }
--c-cp: #75715e;
  /* CommentPreprocFile */ .chroma .cpf { }
--c-cpf: #75715e;
  /* GenericDeleted */ .chroma .gd { }
--c-gd: #f92672;
  /* GenericEmph */ .chroma .ge { font-style: italic }
  /* GenericInserted */ .chroma .gi { }
--c-gi: #a6e22e;
  /* GenericStrong */ .chroma .gs { font-weight: bold }
  /* GenericSubheading */ .chroma .gu { }
--c-gu: #75715e;
}
