@mixin chroma-native {
  /* Background */ .chroma { color: #d0d0d0; background-color: #202020 }
  /* Error */ .chroma .err {  }
--c-err-bg: #e3d2d2;
--c-err: #a61717;
  /* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
  /* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
  /* LineHighlight */ .chroma .hl { display: block; width: 100%;}
--c-hl-bg: black;
  /* LineNumbersTable */ .chroma .lnt { padding: 0 0.4em 0 0.4em;}
--c-lnt: #686868;
  /* LineNumbers */ .chroma .ln { padding: 0 0.4em 0 0.4em;}
--c-ln: #686868;
  /* Keyword */ .chroma .k {  font-weight: bold }
--c-k: #6ab825;
  /* KeywordConstant */ .chroma .kc {  font-weight: bold }
--c-kc: #6ab825;
  /* KeywordDeclaration */ .chroma .kd {  font-weight: bold }
--c-kd: #6ab825;
  /* KeywordNamespace */ .chroma .kn {  font-weight: bold }
--c-kn: #6ab825;
  /* KeywordPseudo */ .chroma .kp { }
--c-kp: #6ab825;
  /* KeywordReserved */ .chroma .kr {  font-weight: bold }
--c-kr: #6ab825;
  /* KeywordType */ .chroma .kt {  font-weight: bold }
--c-kt: #6ab825;
  /* NameAttribute */ .chroma .na { }
--c-na: #bbbbbb;
  /* NameBuiltin */ .chroma .nb { }
--c-nb: #24909d;
  /* NameClass */ .chroma .nc {  text-decoration: underline }
--c-nc: #447fcf;
  /* NameConstant */ .chroma .no { }
--c-no: #40ffff;
  /* NameDecorator */ .chroma .nd { }
--c-nd: #ffa500;
  /* NameException */ .chroma .ne { }
--c-ne: #bbbbbb;
  /* NameFunction */ .chroma .nf { }
--c-nf: #447fcf;
  /* NameNamespace */ .chroma .nn {  text-decoration: underline }
--c-nn: #447fcf;
  /* NameTag */ .chroma .nt {  font-weight: bold }
--c-nt: #6ab825;
  /* NameVariable */ .chroma .nv { }
--c-nv: #40ffff;
  /* LiteralString */ .chroma .s { }
--c-s: #ed9d13;
  /* LiteralStringAffix */ .chroma .sa { }
--c-sa: #ed9d13;
  /* LiteralStringBacktick */ .chroma .sb { }
--c-sb: #ed9d13;
  /* LiteralStringChar */ .chroma .sc { }
--c-sc: #ed9d13;
  /* LiteralStringDelimiter */ .chroma .dl { }
--c-dl: #ed9d13;
  /* LiteralStringDoc */ .chroma .sd { }
--c-sd: #ed9d13;
  /* LiteralStringDouble */ .chroma .s2 { }
--c-s2: #ed9d13;
  /* LiteralStringEscape */ .chroma .se { }
--c-se: #ed9d13;
  /* LiteralStringHeredoc */ .chroma .sh { }
--c-sh: #ed9d13;
  /* LiteralStringInterpol */ .chroma .si { }
--c-si: #ed9d13;
  /* LiteralStringOther */ .chroma .sx { }
--c-sx: #ffa500;
  /* LiteralStringRegex */ .chroma .sr { }
--c-sr: #ed9d13;
  /* LiteralStringSingle */ .chroma .s1 { }
--c-s1: #ed9d13;
  /* LiteralStringSymbol */ .chroma .ss { }
--c-ss: #ed9d13;
  /* LiteralNumber */ .chroma .m { }
--c-m: #3677a9;
  /* LiteralNumberBin */ .chroma .mb { }
--c-mb: #3677a9;
  /* LiteralNumberFloat */ .chroma .mf { }
--c-mf: #3677a9;
  /* LiteralNumberHex */ .chroma .mh { }
--c-mh: #3677a9;
  /* LiteralNumberInteger */ .chroma .mi { }
--c-mi: #3677a9;
  /* LiteralNumberIntegerLong */ .chroma .il { }
--c-il: #3677a9;
  /* LiteralNumberOct */ .chroma .mo { }
--c-mo: #3677a9;
  /* OperatorWord */ .chroma .ow {  font-weight: bold }
--c-ow: #6ab825;
  /* Comment */ .chroma .c {  font-style: italic }
--c-c: #999999;
  /* CommentHashbang */ .chroma .ch {  font-style: italic }
--c-ch: #999999;
  /* CommentMultiline */ .chroma .cm {  font-style: italic }
--c-cm: #999999;
  /* CommentSingle */ .chroma .c1 {  font-style: italic }
--c-c1: #999999;
  /* CommentSpecial */ .chroma .cs {   font-weight: bold }
--c-cs-bg: #520000;
--c-cs: #e50808;
  /* CommentPreproc */ .chroma .cp {  font-weight: bold }
--c-cp: #cd2828;
  /* CommentPreprocFile */ .chroma .cpf {  font-weight: bold }
--c-cpf: #cd2828;
  /* GenericDeleted */ .chroma .gd { }
--c-gd: #d22323;
  /* GenericEmph */ .chroma .ge { font-style: italic }
  /* GenericError */ .chroma .gr { }
--c-gr: #d22323;
  /* GenericHeading */ .chroma .gh {  font-weight: bold }
--c-gh: #ffffff;
  /* GenericInserted */ .chroma .gi { }
--c-gi: #589819;
  /* GenericOutput */ .chroma .go { }
--c-go: #cccccc;
  /* GenericPrompt */ .chroma .gp { }
--c-gp: #aaaaaa;
  /* GenericStrong */ .chroma .gs { font-weight: bold }
  /* GenericSubheading */ .chroma .gu {  text-decoration: underline }
--c-gu: #ffffff;
  /* GenericTraceback */ .chroma .gt { }
--c-gt: #d22323;
  /* GenericUnderline */ .chroma .gl { text-decoration: underline }
  /* TextWhitespace */ .chroma .w { }
--c-w: #666666;
}
