@mixin chroma-paraisolight {
  /* Background */ .chroma { color: #2f1e2e; background-color: #e7e9db }
  /* Error */ .chroma .err { }
--c-err: #ef6155;
  /* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
  /* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
  /* LineHighlight */ .chroma .hl { display: block; width: 100%;}
--c-hl-bg: #ffffcc;
  /* LineNumbersTable */ .chroma .lnt { padding: 0 0.4em 0 0.4em;}
--c-lnt: #7f7f7f;
  /* LineNumbers */ .chroma .ln { padding: 0 0.4em 0 0.4em;}
--c-ln: #7f7f7f;
  /* Keyword */ .chroma .k { }
--c-k: #815ba4;
  /* KeywordConstant */ .chroma .kc { }
--c-kc: #815ba4;
  /* KeywordDeclaration */ .chroma .kd { }
--c-kd: #815ba4;
  /* KeywordNamespace */ .chroma .kn { }
--c-kn: #5bc4bf;
  /* KeywordPseudo */ .chroma .kp { }
--c-kp: #815ba4;
  /* KeywordReserved */ .chroma .kr { }
--c-kr: #815ba4;
  /* KeywordType */ .chroma .kt { }
--c-kt: #fec418;
  /* NameAttribute */ .chroma .na { }
--c-na: #06b6ef;
  /* NameClass */ .chroma .nc { }
--c-nc: #fec418;
  /* NameConstant */ .chroma .no { }
--c-no: #ef6155;
  /* NameDecorator */ .chroma .nd { }
--c-nd: #5bc4bf;
  /* NameException */ .chroma .ne { }
--c-ne: #ef6155;
  /* NameFunction */ .chroma .nf { }
--c-nf: #06b6ef;
  /* NameNamespace */ .chroma .nn { }
--c-nn: #fec418;
  /* NameOther */ .chroma .nx { }
--c-nx: #06b6ef;
  /* NameTag */ .chroma .nt { }
--c-nt: #5bc4bf;
  /* NameVariable */ .chroma .nv { }
--c-nv: #ef6155;
  /* Literal */ .chroma .l { }
--c-l: #f99b15;
  /* LiteralDate */ .chroma .ld { }
--c-ld: #48b685;
  /* LiteralString */ .chroma .s { }
--c-s: #48b685;
  /* LiteralStringAffix */ .chroma .sa { }
--c-sa: #48b685;
  /* LiteralStringBacktick */ .chroma .sb { }
--c-sb: #48b685;
  /* LiteralStringDelimiter */ .chroma .dl { }
--c-dl: #48b685;
  /* LiteralStringDoc */ .chroma .sd { }
--c-sd: #8d8687;
  /* LiteralStringDouble */ .chroma .s2 { }
--c-s2: #48b685;
  /* LiteralStringEscape */ .chroma .se { }
--c-se: #f99b15;
  /* LiteralStringHeredoc */ .chroma .sh { }
--c-sh: #48b685;
  /* LiteralStringInterpol */ .chroma .si { }
--c-si: #f99b15;
  /* LiteralStringOther */ .chroma .sx { }
--c-sx: #48b685;
  /* LiteralStringRegex */ .chroma .sr { }
--c-sr: #48b685;
  /* LiteralStringSingle */ .chroma .s1 { }
--c-s1: #48b685;
  /* LiteralStringSymbol */ .chroma .ss { }
--c-ss: #48b685;
  /* LiteralNumber */ .chroma .m { }
--c-m: #f99b15;
  /* LiteralNumberBin */ .chroma .mb { }
--c-mb: #f99b15;
  /* LiteralNumberFloat */ .chroma .mf { }
--c-mf: #f99b15;
  /* LiteralNumberHex */ .chroma .mh { }
--c-mh: #f99b15;
  /* LiteralNumberInteger */ .chroma .mi { }
--c-mi: #f99b15;
  /* LiteralNumberIntegerLong */ .chroma .il { }
--c-il: #f99b15;
  /* LiteralNumberOct */ .chroma .mo { }
--c-mo: #f99b15;
  /* Operator */ .chroma .o { }
--c-o: #5bc4bf;
  /* OperatorWord */ .chroma .ow { }
--c-ow: #5bc4bf;
  /* Comment */ .chroma .c { }
--c-c: #8d8687;
  /* CommentHashbang */ .chroma .ch { }
--c-ch: #8d8687;
  /* CommentMultiline */ .chroma .cm { }
--c-cm: #8d8687;
  /* CommentSingle */ .chroma .c1 { }
--c-c1: #8d8687;
  /* CommentSpecial */ .chroma .cs { }
--c-cs: #8d8687;
  /* CommentPreproc */ .chroma .cp { }
--c-cp: #8d8687;
  /* CommentPreprocFile */ .chroma .cpf { }
--c-cpf: #8d8687;
  /* GenericDeleted */ .chroma .gd { }
--c-gd: #ef6155;
  /* GenericEmph */ .chroma .ge { font-style: italic }
  /* GenericHeading */ .chroma .gh { font-weight: bold }
  /* GenericInserted */ .chroma .gi { }
--c-gi: #48b685;
  /* GenericPrompt */ .chroma .gp {  font-weight: bold }
--c-gp: #8d8687;
  /* GenericStrong */ .chroma .gs { font-weight: bold }
  /* GenericSubheading */ .chroma .gu {  font-weight: bold }
--c-gu: #5bc4bf;
}
