@mixin chroma-pastie {
  /* Background */ .chroma { background-color: #ffffff }
  /* Error */ .chroma .err {  }
--c-err-bg: #e3d2d2;
--c-err: #a61717;
  /* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
  /* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
  /* LineHighlight */ .chroma .hl { display: block; width: 100%;}
--c-hl-bg: #ffffcc;
  /* LineNumbersTable */ .chroma .lnt { padding: 0 0.4em 0 0.4em;}
--c-lnt: #7f7f7f;
  /* LineNumbers */ .chroma .ln { padding: 0 0.4em 0 0.4em;}
--c-ln: #7f7f7f;
  /* Keyword */ .chroma .k {  font-weight: bold }
--c-k: #008800;
  /* KeywordConstant */ .chroma .kc {  font-weight: bold }
--c-kc: #008800;
  /* KeywordDeclaration */ .chroma .kd {  font-weight: bold }
--c-kd: #008800;
  /* KeywordNamespace */ .chroma .kn {  font-weight: bold }
--c-kn: #008800;
  /* KeywordPseudo */ .chroma .kp { }
--c-kp: #008800;
  /* KeywordReserved */ .chroma .kr {  font-weight: bold }
--c-kr: #008800;
  /* KeywordType */ .chroma .kt {  font-weight: bold }
--c-kt: #888888;
  /* NameAttribute */ .chroma .na { }
--c-na: #336699;
  /* NameBuiltin */ .chroma .nb { }
--c-nb: #003388;
  /* NameClass */ .chroma .nc {  font-weight: bold }
--c-nc: #bb0066;
  /* NameConstant */ .chroma .no {  font-weight: bold }
--c-no: #003366;
  /* NameDecorator */ .chroma .nd { }
--c-nd: #555555;
  /* NameException */ .chroma .ne {  font-weight: bold }
--c-ne: #bb0066;
  /* NameFunction */ .chroma .nf {  font-weight: bold }
--c-nf: #0066bb;
  /* NameLabel */ .chroma .nl {  font-style: italic }
--c-nl: #336699;
  /* NameNamespace */ .chroma .nn {  font-weight: bold }
--c-nn: #bb0066;
  /* NameProperty */ .chroma .py {  font-weight: bold }
--c-py: #336699;
  /* NameTag */ .chroma .nt {  font-weight: bold }
--c-nt: #bb0066;
  /* NameVariable */ .chroma .nv { }
--c-nv: #336699;
  /* NameVariableClass */ .chroma .vc { }
--c-vc: #336699;
  /* NameVariableGlobal */ .chroma .vg { }
--c-vg: #dd7700;
  /* NameVariableInstance */ .chroma .vi { }
--c-vi: #3333bb;
  /* LiteralString */ .chroma .s {  }
--c-s-bg: #fff0f0;
--c-s: #dd2200;
  /* LiteralStringAffix */ .chroma .sa {  }
--c-sa-bg: #fff0f0;
--c-sa: #dd2200;
  /* LiteralStringBacktick */ .chroma .sb {  }
--c-sb-bg: #fff0f0;
--c-sb: #dd2200;
  /* LiteralStringChar */ .chroma .sc {  }
--c-sc-bg: #fff0f0;
--c-sc: #dd2200;
  /* LiteralStringDelimiter */ .chroma .dl {  }
--c-dl-bg: #fff0f0;
--c-dl: #dd2200;
  /* LiteralStringDoc */ .chroma .sd {  }
--c-sd-bg: #fff0f0;
--c-sd: #dd2200;
  /* LiteralStringDouble */ .chroma .s2 {  }
--c-s2-bg: #fff0f0;
--c-s2: #dd2200;
  /* LiteralStringEscape */ .chroma .se {  }
--c-se-bg: #fff0f0;
--c-se: #0044dd;
  /* LiteralStringHeredoc */ .chroma .sh {  }
--c-sh-bg: #fff0f0;
--c-sh: #dd2200;
  /* LiteralStringInterpol */ .chroma .si {  }
--c-si-bg: #fff0f0;
--c-si: #3333bb;
  /* LiteralStringOther */ .chroma .sx {  }
--c-sx-bg: #f0fff0;
--c-sx: #22bb22;
  /* LiteralStringRegex */ .chroma .sr {  }
--c-sr-bg: #fff0ff;
--c-sr: #008800;
  /* LiteralStringSingle */ .chroma .s1 {  }
--c-s1-bg: #fff0f0;
--c-s1: #dd2200;
  /* LiteralStringSymbol */ .chroma .ss {  }
--c-ss-bg: #fff0f0;
--c-ss: #aa6600;
  /* LiteralNumber */ .chroma .m {  font-weight: bold }
--c-m: #0000dd;
  /* LiteralNumberBin */ .chroma .mb {  font-weight: bold }
--c-mb: #0000dd;
  /* LiteralNumberFloat */ .chroma .mf {  font-weight: bold }
--c-mf: #0000dd;
  /* LiteralNumberHex */ .chroma .mh {  font-weight: bold }
--c-mh: #0000dd;
  /* LiteralNumberInteger */ .chroma .mi {  font-weight: bold }
--c-mi: #0000dd;
  /* LiteralNumberIntegerLong */ .chroma .il {  font-weight: bold }
--c-il: #0000dd;
  /* LiteralNumberOct */ .chroma .mo {  font-weight: bold }
--c-mo: #0000dd;
  /* OperatorWord */ .chroma .ow { }
--c-ow: #008800;
  /* Comment */ .chroma .c { }
--c-c: #888888;
  /* CommentHashbang */ .chroma .ch { }
--c-ch: #888888;
  /* CommentMultiline */ .chroma .cm { }
--c-cm: #888888;
  /* CommentSingle */ .chroma .c1 { }
--c-c1: #888888;
  /* CommentSpecial */ .chroma .cs {   font-weight: bold }
--c-cs-bg: #fff0f0;
--c-cs: #cc0000;
  /* CommentPreproc */ .chroma .cp {  font-weight: bold }
--c-cp: #cc0000;
  /* CommentPreprocFile */ .chroma .cpf {  font-weight: bold }
--c-cpf: #cc0000;
  /* GenericDeleted */ .chroma .gd {  }
--c-gd-bg: #ffdddd;
--c-gd: #000000;
  /* GenericEmph */ .chroma .ge { font-style: italic }
  /* GenericError */ .chroma .gr { }
--c-gr: #aa0000;
  /* GenericHeading */ .chroma .gh { }
--c-gh: #333333;
  /* GenericInserted */ .chroma .gi {  }
--c-gi-bg: #ddffdd;
--c-gi: #000000;
  /* GenericOutput */ .chroma .go { }
--c-go: #888888;
  /* GenericPrompt */ .chroma .gp { }
--c-gp: #555555;
  /* GenericStrong */ .chroma .gs { font-weight: bold }
  /* GenericSubheading */ .chroma .gu { }
--c-gu: #666666;
  /* GenericTraceback */ .chroma .gt { }
--c-gt: #aa0000;
  /* GenericUnderline */ .chroma .gl { text-decoration: underline }
  /* TextWhitespace */ .chroma .w { }
--c-w: #bbbbbb;
}
