@mixin chroma-perldoc {
  /* Background */ .chroma { background-color: #eeeedd }
  /* Error */ .chroma .err {  }
--c-err-bg: #e3d2d2;
--c-err: #a61717;
  /* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
  /* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
  /* LineHighlight */ .chroma .hl { display: block; width: 100%;}
--c-hl-bg: #ffffcc;
  /* LineNumbersTable */ .chroma .lnt { padding: 0 0.4em 0 0.4em;}
--c-lnt: #7f7f7f;
  /* LineNumbers */ .chroma .ln { padding: 0 0.4em 0 0.4em;}
--c-ln: #7f7f7f;
  /* Keyword */ .chroma .k {  font-weight: bold }
--c-k: #8b008b;
  /* KeywordConstant */ .chroma .kc {  font-weight: bold }
--c-kc: #8b008b;
  /* KeywordDeclaration */ .chroma .kd {  font-weight: bold }
--c-kd: #8b008b;
  /* KeywordNamespace */ .chroma .kn {  font-weight: bold }
--c-kn: #8b008b;
  /* KeywordPseudo */ .chroma .kp {  font-weight: bold }
--c-kp: #8b008b;
  /* KeywordReserved */ .chroma .kr {  font-weight: bold }
--c-kr: #8b008b;
  /* KeywordType */ .chroma .kt {  font-weight: bold }
--c-kt: #00688b;
  /* NameAttribute */ .chroma .na { }
--c-na: #658b00;
  /* NameBuiltin */ .chroma .nb { }
--c-nb: #658b00;
  /* NameClass */ .chroma .nc {  font-weight: bold }
--c-nc: #008b45;
  /* NameConstant */ .chroma .no { }
--c-no: #00688b;
  /* NameDecorator */ .chroma .nd { }
--c-nd: #707a7c;
  /* NameException */ .chroma .ne {  font-weight: bold }
--c-ne: #008b45;
  /* NameFunction */ .chroma .nf { }
--c-nf: #008b45;
  /* NameNamespace */ .chroma .nn {  text-decoration: underline }
--c-nn: #008b45;
  /* NameTag */ .chroma .nt {  font-weight: bold }
--c-nt: #8b008b;
  /* NameVariable */ .chroma .nv { }
--c-nv: #00688b;
  /* LiteralString */ .chroma .s { }
--c-s: #cd5555;
  /* LiteralStringAffix */ .chroma .sa { }
--c-sa: #cd5555;
  /* LiteralStringBacktick */ .chroma .sb { }
--c-sb: #cd5555;
  /* LiteralStringChar */ .chroma .sc { }
--c-sc: #cd5555;
  /* LiteralStringDelimiter */ .chroma .dl { }
--c-dl: #cd5555;
  /* LiteralStringDoc */ .chroma .sd { }
--c-sd: #cd5555;
  /* LiteralStringDouble */ .chroma .s2 { }
--c-s2: #cd5555;
  /* LiteralStringEscape */ .chroma .se { }
--c-se: #cd5555;
  /* LiteralStringHeredoc */ .chroma .sh {  font-style: italic }
--c-sh: #1c7e71;
  /* LiteralStringInterpol */ .chroma .si { }
--c-si: #cd5555;
  /* LiteralStringOther */ .chroma .sx { }
--c-sx: #cb6c20;
  /* LiteralStringRegex */ .chroma .sr { }
--c-sr: #1c7e71;
  /* LiteralStringSingle */ .chroma .s1 { }
--c-s1: #cd5555;
  /* LiteralStringSymbol */ .chroma .ss { }
--c-ss: #cd5555;
  /* LiteralNumber */ .chroma .m { }
--c-m: #b452cd;
  /* LiteralNumberBin */ .chroma .mb { }
--c-mb: #b452cd;
  /* LiteralNumberFloat */ .chroma .mf { }
--c-mf: #b452cd;
  /* LiteralNumberHex */ .chroma .mh { }
--c-mh: #b452cd;
  /* LiteralNumberInteger */ .chroma .mi { }
--c-mi: #b452cd;
  /* LiteralNumberIntegerLong */ .chroma .il { }
--c-il: #b452cd;
  /* LiteralNumberOct */ .chroma .mo { }
--c-mo: #b452cd;
  /* OperatorWord */ .chroma .ow { }
--c-ow: #8b008b;
  /* Comment */ .chroma .c { }
--c-c: #228b22;
  /* CommentHashbang */ .chroma .ch { }
--c-ch: #228b22;
  /* CommentMultiline */ .chroma .cm { }
--c-cm: #228b22;
  /* CommentSingle */ .chroma .c1 { }
--c-c1: #228b22;
  /* CommentSpecial */ .chroma .cs {  font-weight: bold }
--c-cs: #8b008b;
  /* CommentPreproc */ .chroma .cp { }
--c-cp: #1e889b;
  /* CommentPreprocFile */ .chroma .cpf { }
--c-cpf: #1e889b;
  /* GenericDeleted */ .chroma .gd { }
--c-gd: #aa0000;
  /* GenericEmph */ .chroma .ge { font-style: italic }
  /* GenericError */ .chroma .gr { }
--c-gr: #aa0000;
  /* GenericHeading */ .chroma .gh {  font-weight: bold }
--c-gh: #000080;
  /* GenericInserted */ .chroma .gi { }
--c-gi: #00aa00;
  /* GenericOutput */ .chroma .go { }
--c-go: #888888;
  /* GenericPrompt */ .chroma .gp { }
--c-gp: #555555;
  /* GenericStrong */ .chroma .gs { font-weight: bold }
  /* GenericSubheading */ .chroma .gu {  font-weight: bold }
--c-gu: #800080;
  /* GenericTraceback */ .chroma .gt { }
--c-gt: #aa0000;
  /* GenericUnderline */ .chroma .gl { text-decoration: underline }
  /* TextWhitespace */ .chroma .w { }
--c-w: #bbbbbb;
}
