@mixin chroma-solarizeddark {
  /* Background */ .chroma { color: #93a1a1; background-color: #002b36 }
  /* Other */ .chroma .x { }
--c-x: #cb4b16;
  /* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
  /* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
  /* LineHighlight */ .chroma .hl { display: block; width: 100%;}
--c-hl-bg: dark;
  /* LineNumbersTable */ .chroma .lnt { padding: 0 0.4em 0 0.4em;}
--c-lnt: #495050;
  /* LineNumbers */ .chroma .ln { padding: 0 0.4em 0 0.4em;}
--c-ln: #495050;
  /* Keyword */ .chroma .k { }
--c-k: #719e07;
  /* KeywordConstant */ .chroma .kc { }
--c-kc: #cb4b16;
  /* KeywordDeclaration */ .chroma .kd { }
--c-kd: #268bd2;
  /* KeywordNamespace */ .chroma .kn { }
--c-kn: #719e07;
  /* KeywordPseudo */ .chroma .kp { }
--c-kp: #719e07;
  /* KeywordReserved */ .chroma .kr { }
--c-kr: #268bd2;
  /* KeywordType */ .chroma .kt { }
--c-kt: #dc322f;
  /* NameBuiltin */ .chroma .nb { }
--c-nb: #b58900;
  /* NameBuiltinPseudo */ .chroma .bp { }
--c-bp: #268bd2;
  /* NameClass */ .chroma .nc { }
--c-nc: #268bd2;
  /* NameConstant */ .chroma .no { }
--c-no: #cb4b16;
  /* NameDecorator */ .chroma .nd { }
--c-nd: #268bd2;
  /* NameEntity */ .chroma .ni { }
--c-ni: #cb4b16;
  /* NameException */ .chroma .ne { }
--c-ne: #cb4b16;
  /* NameFunction */ .chroma .nf { }
--c-nf: #268bd2;
  /* NameTag */ .chroma .nt { }
--c-nt: #268bd2;
  /* NameVariable */ .chroma .nv { }
--c-nv: #268bd2;
  /* LiteralString */ .chroma .s { }
--c-s: #2aa198;
  /* LiteralStringAffix */ .chroma .sa { }
--c-sa: #2aa198;
  /* LiteralStringBacktick */ .chroma .sb { }
--c-sb: #586e75;
  /* LiteralStringChar */ .chroma .sc { }
--c-sc: #2aa198;
  /* LiteralStringDelimiter */ .chroma .dl { }
--c-dl: #2aa198;
  /* LiteralStringDouble */ .chroma .s2 { }
--c-s2: #2aa198;
  /* LiteralStringEscape */ .chroma .se { }
--c-se: #cb4b16;
  /* LiteralStringInterpol */ .chroma .si { }
--c-si: #2aa198;
  /* LiteralStringOther */ .chroma .sx { }
--c-sx: #2aa198;
  /* LiteralStringRegex */ .chroma .sr { }
--c-sr: #dc322f;
  /* LiteralStringSingle */ .chroma .s1 { }
--c-s1: #2aa198;
  /* LiteralStringSymbol */ .chroma .ss { }
--c-ss: #2aa198;
  /* LiteralNumber */ .chroma .m { }
--c-m: #2aa198;
  /* LiteralNumberBin */ .chroma .mb { }
--c-mb: #2aa198;
  /* LiteralNumberFloat */ .chroma .mf { }
--c-mf: #2aa198;
  /* LiteralNumberHex */ .chroma .mh { }
--c-mh: #2aa198;
  /* LiteralNumberInteger */ .chroma .mi { }
--c-mi: #2aa198;
  /* LiteralNumberIntegerLong */ .chroma .il { }
--c-il: #2aa198;
  /* LiteralNumberOct */ .chroma .mo { }
--c-mo: #2aa198;
  /* Operator */ .chroma .o { }
--c-o: #719e07;
  /* OperatorWord */ .chroma .ow { }
--c-ow: #719e07;
  /* Comment */ .chroma .c { }
--c-c: #586e75;
  /* CommentHashbang */ .chroma .ch { }
--c-ch: #586e75;
  /* CommentMultiline */ .chroma .cm { }
--c-cm: #586e75;
  /* CommentSingle */ .chroma .c1 { }
--c-c1: #586e75;
  /* CommentSpecial */ .chroma .cs { }
--c-cs: #719e07;
  /* CommentPreproc */ .chroma .cp { }
--c-cp: #719e07;
  /* CommentPreprocFile */ .chroma .cpf { }
--c-cpf: #719e07;
  /* GenericDeleted */ .chroma .gd { }
--c-gd: #dc322f;
  /* GenericEmph */ .chroma .ge { font-style: italic }
  /* GenericError */ .chroma .gr {  font-weight: bold }
--c-gr: #dc322f;
  /* GenericHeading */ .chroma .gh { }
--c-gh: #cb4b16;
  /* GenericInserted */ .chroma .gi { }
--c-gi: #719e07;
  /* GenericStrong */ .chroma .gs { font-weight: bold }
  /* GenericSubheading */ .chroma .gu { }
--c-gu: #268bd2;
}
