@mixin chroma-solarizeddark256 {
  /* Background */ .chroma { color: #8a8a8a; background-color: #1c1c1c }
  /* Other */ .chroma .x { }
--c-x: #d75f00;
  /* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
  /* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
  /* LineHighlight */ .chroma .hl { display: block; width: 100%;}
--c-hl-bg: dark;
  /* LineNumbersTable */ .chroma .lnt { padding: 0 0.4em 0 0.4em;}
--c-lnt: #454545;
  /* LineNumbers */ .chroma .ln { padding: 0 0.4em 0 0.4em;}
--c-ln: #454545;
  /* Keyword */ .chroma .k { }
--c-k: #5f8700;
  /* KeywordConstant */ .chroma .kc { }
--c-kc: #d75f00;
  /* KeywordDeclaration */ .chroma .kd { }
--c-kd: #0087ff;
  /* KeywordNamespace */ .chroma .kn { }
--c-kn: #d75f00;
  /* KeywordPseudo */ .chroma .kp { }
--c-kp: #5f8700;
  /* KeywordReserved */ .chroma .kr { }
--c-kr: #0087ff;
  /* KeywordType */ .chroma .kt { }
--c-kt: #af0000;
  /* NameBuiltin */ .chroma .nb { }
--c-nb: #0087ff;
  /* NameBuiltinPseudo */ .chroma .bp { }
--c-bp: #0087ff;
  /* NameClass */ .chroma .nc { }
--c-nc: #0087ff;
  /* NameConstant */ .chroma .no { }
--c-no: #d75f00;
  /* NameDecorator */ .chroma .nd { }
--c-nd: #0087ff;
  /* NameEntity */ .chroma .ni { }
--c-ni: #d75f00;
  /* NameException */ .chroma .ne { }
--c-ne: #af8700;
  /* NameFunction */ .chroma .nf { }
--c-nf: #0087ff;
  /* NameTag */ .chroma .nt { }
--c-nt: #0087ff;
  /* NameVariable */ .chroma .nv { }
--c-nv: #0087ff;
  /* LiteralString */ .chroma .s { }
--c-s: #00afaf;
  /* LiteralStringAffix */ .chroma .sa { }
--c-sa: #00afaf;
  /* LiteralStringBacktick */ .chroma .sb { }
--c-sb: #4e4e4e;
  /* LiteralStringChar */ .chroma .sc { }
--c-sc: #00afaf;
  /* LiteralStringDelimiter */ .chroma .dl { }
--c-dl: #00afaf;
  /* LiteralStringDoc */ .chroma .sd { }
--c-sd: #00afaf;
  /* LiteralStringDouble */ .chroma .s2 { }
--c-s2: #00afaf;
  /* LiteralStringEscape */ .chroma .se { }
--c-se: #af0000;
  /* LiteralStringHeredoc */ .chroma .sh { }
--c-sh: #00afaf;
  /* LiteralStringInterpol */ .chroma .si { }
--c-si: #00afaf;
  /* LiteralStringOther */ .chroma .sx { }
--c-sx: #00afaf;
  /* LiteralStringRegex */ .chroma .sr { }
--c-sr: #af0000;
  /* LiteralStringSingle */ .chroma .s1 { }
--c-s1: #00afaf;
  /* LiteralStringSymbol */ .chroma .ss { }
--c-ss: #00afaf;
  /* LiteralNumber */ .chroma .m { }
--c-m: #00afaf;
  /* LiteralNumberBin */ .chroma .mb { }
--c-mb: #00afaf;
  /* LiteralNumberFloat */ .chroma .mf { }
--c-mf: #00afaf;
  /* LiteralNumberHex */ .chroma .mh { }
--c-mh: #00afaf;
  /* LiteralNumberInteger */ .chroma .mi { }
--c-mi: #00afaf;
  /* LiteralNumberIntegerLong */ .chroma .il { }
--c-il: #00afaf;
  /* LiteralNumberOct */ .chroma .mo { }
--c-mo: #00afaf;
  /* OperatorWord */ .chroma .ow { }
--c-ow: #5f8700;
  /* Comment */ .chroma .c { }
--c-c: #4e4e4e;
  /* CommentHashbang */ .chroma .ch { }
--c-ch: #4e4e4e;
  /* CommentMultiline */ .chroma .cm { }
--c-cm: #4e4e4e;
  /* CommentSingle */ .chroma .c1 { }
--c-c1: #4e4e4e;
  /* CommentSpecial */ .chroma .cs { }
--c-cs: #5f8700;
  /* CommentPreproc */ .chroma .cp { }
--c-cp: #5f8700;
  /* CommentPreprocFile */ .chroma .cpf { }
--c-cpf: #5f8700;
  /* GenericDeleted */ .chroma .gd { }
--c-gd: #af0000;
  /* GenericEmph */ .chroma .ge { font-style: italic }
  /* GenericError */ .chroma .gr {  font-weight: bold }
--c-gr: #af0000;
  /* GenericHeading */ .chroma .gh { }
--c-gh: #d75f00;
  /* GenericInserted */ .chroma .gi { }
--c-gi: #5f8700;
  /* GenericStrong */ .chroma .gs { font-weight: bold }
  /* GenericSubheading */ .chroma .gu { }
--c-gu: #0087ff;
}
