@mixin chroma-solarized {
  /* Background */ .chroma { color: #dc322f; background-color: #faf1cd }
  /* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
  /* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
  /* LineHighlight */ .chroma .hl { display: block; width: 100%;}
--c-hl-bg: #ffffcc;
  /* LineNumbersTable */ .chroma .lnt { padding: 0 0.4em 0 0.4em;}
--c-lnt: #aaa;
  /* LineNumbers */ .chroma .ln { padding: 0 0.4em 0 0.4em;}
--c-ln: #aaa;
  /* Keyword */ .chroma .k { }
--c-k: #0077aa;
  /* KeywordConstant */ .chroma .kc {  font-weight: bold }
--c-kc: #0077aa;
  /* KeywordDeclaration */ .chroma .kd { }
--c-kd: #0077aa;
  /* KeywordNamespace */ .chroma .kn {  font-weight: bold }
--c-kn: #dc322f;
  /* KeywordPseudo */ .chroma .kp { }
--c-kp: #0077aa;
  /* KeywordReserved */ .chroma .kr { }
--c-kr: #0077aa;
  /* KeywordType */ .chroma .kt {  font-weight: bold }
--c-kt: #0077aa;
  /* Name */ .chroma .n { }
--c-n: #c47e00;
  /* NameAttribute */ .chroma .na { }
--c-na: #c47e00;
  /* NameBuiltin */ .chroma .nb { }
--c-nb: #669900;
  /* NameBuiltinPseudo */ .chroma .bp { }
--c-bp: #c47e00;
  /* NameClass */ .chroma .nc { }
--c-nc: #669900;
  /* NameConstant */ .chroma .no { }
--c-no: #c47e00;
  /* NameDecorator */ .chroma .nd { }
--c-nd: #c47e00;
  /* NameEntity */ .chroma .ni { }
--c-ni: #c47e00;
  /* NameException */ .chroma .ne { }
--c-ne: #c47e00;
  /* NameFunction */ .chroma .nf { }
--c-nf: #dd4a68;
  /* NameFunctionMagic */ .chroma .fm { }
--c-fm: #dd4a68;
  /* NameLabel */ .chroma .nl { }
--c-nl: #c47e00;
  /* NameNamespace */ .chroma .nn { }
--c-nn: #c47e00;
  /* NameOther */ .chroma .nx { }
--c-nx: #c47e00;
  /* NameProperty */ .chroma .py { }
--c-py: #c47e00;
  /* NameTag */ .chroma .nt {  font-weight: bold }
--c-nt: #268bd2;
  /* NameVariable */ .chroma .nv { }
--c-nv: #c47e00;
  /* NameVariableClass */ .chroma .vc { }
--c-vc: #c47e00;
  /* NameVariableGlobal */ .chroma .vg { }
--c-vg: #c47e00;
  /* NameVariableInstance */ .chroma .vi { }
--c-vi: #c47e00;
  /* NameVariableMagic */ .chroma .vm { }
--c-vm: #c47e00;
  /* Literal */ .chroma .l { }
--c-l: #2aa198;
  /* LiteralDate */ .chroma .ld { }
--c-ld: #2aa198;
  /* LiteralString */ .chroma .s { }
--c-s: #2aa198;
  /* LiteralStringAffix */ .chroma .sa { }
--c-sa: #2aa198;
  /* LiteralStringBacktick */ .chroma .sb { }
--c-sb: #2aa198;
  /* LiteralStringChar */ .chroma .sc { }
--c-sc: #2aa198;
  /* LiteralStringDelimiter */ .chroma .dl { }
--c-dl: #2aa198;
  /* LiteralStringDoc */ .chroma .sd { }
--c-sd: #2aa198;
  /* LiteralStringDouble */ .chroma .s2 { }
--c-s2: #2aa198;
  /* LiteralStringEscape */ .chroma .se { }
--c-se: #2aa198;
  /* LiteralStringHeredoc */ .chroma .sh { }
--c-sh: #2aa198;
  /* LiteralStringInterpol */ .chroma .si { }
--c-si: #2aa198;
  /* LiteralStringOther */ .chroma .sx { }
--c-sx: #2aa198;
  /* LiteralStringRegex */ .chroma .sr { }
--c-sr: #2aa198;
  /* LiteralStringSingle */ .chroma .s1 { }
--c-s1: #2aa198;
  /* LiteralStringSymbol */ .chroma .ss { }
--c-ss: #2aa198;
  /* LiteralNumber */ .chroma .m {  font-weight: bold }
--c-m: #2aa198;
  /* LiteralNumberBin */ .chroma .mb {  font-weight: bold }
--c-mb: #2aa198;
  /* LiteralNumberFloat */ .chroma .mf {  font-weight: bold }
--c-mf: #2aa198;
  /* LiteralNumberHex */ .chroma .mh {  font-weight: bold }
--c-mh: #2aa198;
  /* LiteralNumberInteger */ .chroma .mi {  font-weight: bold }
--c-mi: #2aa198;
  /* LiteralNumberIntegerLong */ .chroma .il {  font-weight: bold }
--c-il: #2aa198;
  /* LiteralNumberOct */ .chroma .mo {  font-weight: bold }
--c-mo: #2aa198;
  /* OperatorWord */ .chroma .ow { }
--c-ow: #0077aa;
  /* Comment */ .chroma .c {  font-style: italic }
--c-c: #93a1a1;
  /* CommentHashbang */ .chroma .ch {  font-style: italic }
--c-ch: #93a1a1;
  /* CommentMultiline */ .chroma .cm {  font-style: italic }
--c-cm: #93a1a1;
  /* CommentSingle */ .chroma .c1 {  font-style: italic }
--c-c1: #93a1a1;
  /* CommentSpecial */ .chroma .cs {  font-style: italic }
--c-cs: #93a1a1;
  /* CommentPreproc */ .chroma .cp {  font-style: italic }
--c-cp: #93a1a1;
  /* CommentPreprocFile */ .chroma .cpf {  font-style: italic }
--c-cpf: #93a1a1;
  /* Generic */ .chroma .g { }
--c-g: #d33682;
  /* GenericDeleted */ .chroma .gd { }
--c-gd: #d33682;
  /* GenericEmph */ .chroma .ge { }
--c-ge: #d33682;
  /* GenericError */ .chroma .gr { }
--c-gr: #d33682;
  /* GenericHeading */ .chroma .gh { }
--c-gh: #d33682;
  /* GenericInserted */ .chroma .gi { }
--c-gi: #d33682;
  /* GenericOutput */ .chroma .go { }
--c-go: #d33682;
  /* GenericPrompt */ .chroma .gp { }
--c-gp: #d33682;
  /* GenericStrong */ .chroma .gs { }
--c-gs: #d33682;
  /* GenericSubheading */ .chroma .gu { }
--c-gu: #d33682;
  /* GenericTraceback */ .chroma .gt { }
--c-gt: #d33682;
  /* GenericUnderline */ .chroma .gl { }
--c-gl: #d33682;
}
