@mixin chroma-swapoff {
  /* Background */ .chroma { color: #e5e5e5; background-color: #000000 }
  /* Error */ .chroma .err { }
--c-err: #ff0000;
  /* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
  /* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
  /* LineHighlight */ .chroma .hl { display: block; width: 100%;}
--c-hl-bg: #212121;
  /* LineNumbersTable */ .chroma .lnt { padding: 0 0.4em 0 0.4em;}
--c-lnt: #727272;
  /* LineNumbers */ .chroma .ln { padding: 0 0.4em 0 0.4em;}
--c-ln: #727272;
  /* Keyword */ .chroma .k {  font-weight: bold }
--c-k: #ffffff;
  /* KeywordConstant */ .chroma .kc {  font-weight: bold }
--c-kc: #ffffff;
  /* KeywordDeclaration */ .chroma .kd {  font-weight: bold }
--c-kd: #ffffff;
  /* KeywordNamespace */ .chroma .kn {  font-weight: bold }
--c-kn: #ffffff;
  /* KeywordPseudo */ .chroma .kp {  font-weight: bold }
--c-kp: #ffffff;
  /* KeywordReserved */ .chroma .kr {  font-weight: bold }
--c-kr: #ffffff;
  /* KeywordType */ .chroma .kt {  font-weight: bold }
--c-kt: #ffffff;
  /* NameAttribute */ .chroma .na { }
--c-na: #007f7f;
  /* NameBuiltin */ .chroma .nb {  font-weight: bold }
--c-nb: #ffffff;
  /* NameTag */ .chroma .nt { font-weight: bold }
  /* LiteralDate */ .chroma .ld {  font-weight: bold }
--c-ld: #ffff00;
  /* LiteralString */ .chroma .s {  font-weight: bold }
--c-s: #00ffff;
  /* LiteralStringAffix */ .chroma .sa {  font-weight: bold }
--c-sa: #00ffff;
  /* LiteralStringBacktick */ .chroma .sb {  font-weight: bold }
--c-sb: #00ffff;
  /* LiteralStringChar */ .chroma .sc {  font-weight: bold }
--c-sc: #00ffff;
  /* LiteralStringDelimiter */ .chroma .dl {  font-weight: bold }
--c-dl: #00ffff;
  /* LiteralStringDoc */ .chroma .sd {  font-weight: bold }
--c-sd: #00ffff;
  /* LiteralStringDouble */ .chroma .s2 {  font-weight: bold }
--c-s2: #00ffff;
  /* LiteralStringEscape */ .chroma .se {  font-weight: bold }
--c-se: #00ffff;
  /* LiteralStringHeredoc */ .chroma .sh {  font-weight: bold }
--c-sh: #00ffff;
  /* LiteralStringInterpol */ .chroma .si {  font-weight: bold }
--c-si: #00ffff;
  /* LiteralStringOther */ .chroma .sx {  font-weight: bold }
--c-sx: #00ffff;
  /* LiteralStringRegex */ .chroma .sr {  font-weight: bold }
--c-sr: #00ffff;
  /* LiteralStringSingle */ .chroma .s1 {  font-weight: bold }
--c-s1: #00ffff;
  /* LiteralStringSymbol */ .chroma .ss {  font-weight: bold }
--c-ss: #00ffff;
  /* LiteralNumber */ .chroma .m {  font-weight: bold }
--c-m: #ffff00;
  /* LiteralNumberBin */ .chroma .mb {  font-weight: bold }
--c-mb: #ffff00;
  /* LiteralNumberFloat */ .chroma .mf {  font-weight: bold }
--c-mf: #ffff00;
  /* LiteralNumberHex */ .chroma .mh {  font-weight: bold }
--c-mh: #ffff00;
  /* LiteralNumberInteger */ .chroma .mi {  font-weight: bold }
--c-mi: #ffff00;
  /* LiteralNumberIntegerLong */ .chroma .il {  font-weight: bold }
--c-il: #ffff00;
  /* LiteralNumberOct */ .chroma .mo {  font-weight: bold }
--c-mo: #ffff00;
  /* Comment */ .chroma .c { }
--c-c: #007f7f;
  /* CommentHashbang */ .chroma .ch { }
--c-ch: #007f7f;
  /* CommentMultiline */ .chroma .cm { }
--c-cm: #007f7f;
  /* CommentSingle */ .chroma .c1 { }
--c-c1: #007f7f;
  /* CommentSpecial */ .chroma .cs { }
--c-cs: #007f7f;
  /* CommentPreproc */ .chroma .cp {  font-weight: bold }
--c-cp: #00ff00;
  /* CommentPreprocFile */ .chroma .cpf {  font-weight: bold }
--c-cpf: #00ff00;
  /* GenericHeading */ .chroma .gh { font-weight: bold }
  /* GenericStrong */ .chroma .gs { font-weight: bold }
  /* GenericSubheading */ .chroma .gu { font-weight: bold }
  /* GenericUnderline */ .chroma .gl { text-decoration: underline }
}
