@mixin chroma-trac {
  /* Background */ .chroma { background-color: #ffffff }
  /* Error */ .chroma .err {  }
--c-err-bg: #e3d2d2;
--c-err: #a61717;
  /* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
  /* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
  /* LineHighlight */ .chroma .hl { display: block; width: 100%;}
--c-hl-bg: #ffffcc;
  /* LineNumbersTable */ .chroma .lnt { padding: 0 0.4em 0 0.4em;}
--c-lnt: #7f7f7f;
  /* LineNumbers */ .chroma .ln { padding: 0 0.4em 0 0.4em;}
--c-ln: #7f7f7f;
  /* Keyword */ .chroma .k { font-weight: bold }
  /* KeywordConstant */ .chroma .kc { font-weight: bold }
  /* KeywordDeclaration */ .chroma .kd { font-weight: bold }
  /* KeywordNamespace */ .chroma .kn { font-weight: bold }
  /* KeywordPseudo */ .chroma .kp { font-weight: bold }
  /* KeywordReserved */ .chroma .kr { font-weight: bold }
  /* KeywordType */ .chroma .kt {  font-weight: bold }
--c-kt: #445588;
  /* NameAttribute */ .chroma .na { }
--c-na: #008080;
  /* NameBuiltin */ .chroma .nb { }
--c-nb: #999999;
  /* NameClass */ .chroma .nc {  font-weight: bold }
--c-nc: #445588;
  /* NameConstant */ .chroma .no { }
--c-no: #008080;
  /* NameEntity */ .chroma .ni { }
--c-ni: #800080;
  /* NameException */ .chroma .ne {  font-weight: bold }
--c-ne: #990000;
  /* NameFunction */ .chroma .nf {  font-weight: bold }
--c-nf: #990000;
  /* NameNamespace */ .chroma .nn { }
--c-nn: #555555;
  /* NameTag */ .chroma .nt { }
--c-nt: #000080;
  /* NameVariable */ .chroma .nv { }
--c-nv: #008080;
  /* LiteralString */ .chroma .s { }
--c-s: #bb8844;
  /* LiteralStringAffix */ .chroma .sa { }
--c-sa: #bb8844;
  /* LiteralStringBacktick */ .chroma .sb { }
--c-sb: #bb8844;
  /* LiteralStringChar */ .chroma .sc { }
--c-sc: #bb8844;
  /* LiteralStringDelimiter */ .chroma .dl { }
--c-dl: #bb8844;
  /* LiteralStringDoc */ .chroma .sd { }
--c-sd: #bb8844;
  /* LiteralStringDouble */ .chroma .s2 { }
--c-s2: #bb8844;
  /* LiteralStringEscape */ .chroma .se { }
--c-se: #bb8844;
  /* LiteralStringHeredoc */ .chroma .sh { }
--c-sh: #bb8844;
  /* LiteralStringInterpol */ .chroma .si { }
--c-si: #bb8844;
  /* LiteralStringOther */ .chroma .sx { }
--c-sx: #bb8844;
  /* LiteralStringRegex */ .chroma .sr { }
--c-sr: #808000;
  /* LiteralStringSingle */ .chroma .s1 { }
--c-s1: #bb8844;
  /* LiteralStringSymbol */ .chroma .ss { }
--c-ss: #bb8844;
  /* LiteralNumber */ .chroma .m { }
--c-m: #009999;
  /* LiteralNumberBin */ .chroma .mb { }
--c-mb: #009999;
  /* LiteralNumberFloat */ .chroma .mf { }
--c-mf: #009999;
  /* LiteralNumberHex */ .chroma .mh { }
--c-mh: #009999;
  /* LiteralNumberInteger */ .chroma .mi { }
--c-mi: #009999;
  /* LiteralNumberIntegerLong */ .chroma .il { }
--c-il: #009999;
  /* LiteralNumberOct */ .chroma .mo { }
--c-mo: #009999;
  /* Operator */ .chroma .o { font-weight: bold }
  /* OperatorWord */ .chroma .ow { font-weight: bold }
  /* Comment */ .chroma .c {  font-style: italic }
--c-c: #999988;
  /* CommentHashbang */ .chroma .ch {  font-style: italic }
--c-ch: #999988;
  /* CommentMultiline */ .chroma .cm {  font-style: italic }
--c-cm: #999988;
  /* CommentSingle */ .chroma .c1 {  font-style: italic }
--c-c1: #999988;
  /* CommentSpecial */ .chroma .cs {  font-weight: bold; font-style: italic }
--c-cs: #999999;
  /* CommentPreproc */ .chroma .cp {  font-weight: bold }
--c-cp: #999999;
  /* CommentPreprocFile */ .chroma .cpf {  font-weight: bold }
--c-cpf: #999999;
  /* GenericDeleted */ .chroma .gd {  }
--c-gd-bg: #ffdddd;
--c-gd: #000000;
  /* GenericEmph */ .chroma .ge { font-style: italic }
  /* GenericError */ .chroma .gr { }
--c-gr: #aa0000;
  /* GenericHeading */ .chroma .gh { }
--c-gh: #999999;
  /* GenericInserted */ .chroma .gi {  }
--c-gi-bg: #ddffdd;
--c-gi: #000000;
  /* GenericOutput */ .chroma .go { }
--c-go: #888888;
  /* GenericPrompt */ .chroma .gp { }
--c-gp: #555555;
  /* GenericStrong */ .chroma .gs { font-weight: bold }
  /* GenericSubheading */ .chroma .gu { }
--c-gu: #aaaaaa;
  /* GenericTraceback */ .chroma .gt { }
--c-gt: #aa0000;
  /* GenericUnderline */ .chroma .gl { text-decoration: underline }
  /* TextWhitespace */ .chroma .w { }
--c-w: #bbbbbb;
}
