.not-found {
  height: 100%;
  font-family: $title-font;

  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  @include flex-direction(column);

    .title {
      color: var(--title-color);
    }

    .subtitle {
      color: var(--meta-color);
    }
}
